  {% load  static %}
  {% load check_share_url %}

  {% block footeralinma %}
    {% if  setting and not setting.is_hidden_footer %}
      <footer class="footer" style="padding: 0px;padding-top: 10px;"  dir="{{static_content.direction}}">
        <img src="/static/assets/img/yemen-places-arrows.png"  class="footer-bk"
          style="{% if static_content.lang == "ar" %} left: 0px; {% else %} right: 0px;{% endif %}
            position: absolute;
            bottom: 40px;
            overflow-y: visible;
            width: 500px; 
            height: 520px;  
            opacity: 1;  
            z-index: 10;"
        
        />
        <div class="containers footer-container" >
          <div class="logo-footer" style="margin-bottom: 10px; border: 0px red solid;">
              <img alt="alinma logo" class="logo-color" src="{% static 'assets/img/logo-full-width-white.svg' %}?version=1">
          </div>
          <div class="">
            {% if FormOurNewsletter and setting and not setting.is_hidden_ournewsletter %}
              <div class="">
                <div class="footer-newsletter" style="border: red 0px solid;padding: 0px;background: none;font-family: HacenTunisiaBoldRegular;">
                  <div class="containers" >
                    <div  class="row justify-content-center">
                      <div  class="col-lg-12 text-center ">{{static_content.stay_in_touch}}
                          <h4 style="font-size: 18px;">
                          </h4> 
                          <p style="font-size: 16px;">
                            {{static_content.put_your_email_address}}
                            {{static_content.put_your_email_address_msg}}
                          </p>
                      </div>
                      <div class="col-lg-6" style="border: rgb(255, 255, 255) 2px solid; border-radius: 8px;  background-color: var(--primary);padding: 2px;"  dir="{{static_content.direction}}">
                        {% load i18n static %} {% load crispy_forms_tags %}
                        {% if messages %}
                          {% for message in messages %}
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                              <div class=" text-center  btn-success  ">
                                {{ message  }}
                              </div>
                            {% else %}
                              <div class=" text-center  btn-danger">
                                {{ message  }}
                              </div>
                            {% endif %}
                          {% endfor %}
                        {% endif %}
                        {% load i18n static %} {% load crispy_forms_tags %}
                        <form   method="POST" name="OurNewsletterForm" class="php-email-form needs-validation" validate 
                              style="margin: 0px;border: rgb(128, 0, 11) 0px solid;padding: 0px; height: 36px;"  dir="{{static_content.direction}}">
                          {% csrf_token %} 
                          {% for field in FormOurNewsletter %}
                            <div class="column-md-12">
                              <input type="email" placeholder="{{static_content.email_address}}"  style="height: 32px;border: none;background: none; margin-right: 10px;"  />
                              <small class="text-danger">{{field.errors | striptags}}</small> 
                            </div>
                          {% endfor %}
                          <input type="submit" value="{{static_content.subscribe}}" style="margin: 0px;">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
          <div class="footer-top" style="border: red 0px solid;margin: 0px; padding: 0px;">
            <div class="containers" style="border: red 0px solid;margin: 0px;">
              <div class="row gy-3  " style="border: red 0px solid;margin: 0px;">
                <div class="footer-col footer-links" style="margin: 20px; text-align: start;">
                  <h4>{{static_content.pages}}</h4>
                  <br>
                  <ul style="border: red 0px solid; ">
                    {% if   setting and not setting.is_hidden_about  %}
                    <li style="border: red 0px solid; padding: 0px;margin: 0px;">
                      <a style="border: red 0px solid; " class="has-sub-header" href="/{{static_content.lang}}/about">{{static_content.about}}</a>
                    </li>
                    {% endif %}
                    {% if   setting and not setting.is_hidden_contact  %}
                    <li>
                      <a class="has-sub-header" href="/{{static_content.lang}}">{{static_content.board}}</a>
                    </li>
                    {% endif %}
                    <li>
                      <a href="/{{static_content.lang}}/service_points">{{static_content.our_service_points}}</a>
                    </li>
                  </ul>
                </div>

                <div class="footer-col footer-links" style=" margin: 20px;text-align: start;">
                  <h4>{{static_content.agencies}}</h4>
                  <br>

                  <ul>
                    {% if   setting and not setting.is_hidden_about  %}
                    <li>
                      <a class="has-sub-header" href="/#about">{{static_content.account_points}}</a>
                    </li>
                    {% endif %}
                    {% if   setting and not setting.is_hidden_contact  %}
                    <li>
                      <a class="has-sub-header" href="/#contact">{{static_content.inma_faori}}</a>
                    </li>
                    {% endif %}
                    {% if   setting and not setting.is_hidden_currencies  %}
                    <li>
                      <a class="has-sub-header" href="/#currencies">{{static_content.inma_jawal}}</a>
                    </li>
                    {% endif %}
                  </ul>
                </div>
               
                <div class="footer-col footer-links" style="text-align: start; margin: 20px;">
                  <h4>{{static_content.reports}}</h4>
                  <br>

                  <ul>
                    {% if   setting and not setting.is_hidden_about  %}
                    <li>
                      <a class="has-sub-header" href="/{{static_content.lang}}/report-list/yearly">{{static_content.yearly_reports}}</a>
                    </li>
                    {% endif %}
                    {% if   setting and not setting.is_hidden_contact  %}
                    <li>
                      <a class="has-sub-header" href="/{{static_content.lang}}/report-list/finance">{{static_content.financial_reports}}</a>
                    </li>
                    {% endif %}
                    {% if   setting and not setting.is_hidden_contact  %}
                    <li>
                      <a class="has-sub-header" href="/{{static_content.lang}}/video-list">{{static_content.video_library}}</a>
                    </li>
                    {% endif %}
                  </ul>
                </div>
                <div class="footer-col footer-links" style="border: red 0px solid; margin: 20px;">
                  <h4>{{static_content.news_center}}</h4>
                  <br>
                  <ul>
                    <li>
                      <a href="/{{static_content.lang}}/news">{{static_content.bank_news}}</a>
                    </li>
                    <li>
                      <a href="/{{static_content.lang}}/events">{{static_content.events}}</a>
                    </li>
                    <li>
                      <a href="/{{static_content.lang}}/blogs">{{static_content.blog}}</a>
                    </li>
                  </ul>
                </div>              
                {% if  setting and not setting.is_hidden_contact   %}              
                  <div
                      {% if setting.phone_1 or setting.phone_2 or setting.fax or setting.emile or setting.emile or setting.mail_box or setting.facebook or setting.twitter or setting.instagram %}
                      class="footer-col   contact footer-links" style="text-align: start;margin: 20px;"
                      {% else %}
                        class=""
                      {% endif %}
                    >
                    {% if setting.phone_1 or setting.phone_2 or setting.fax or setting.emile or setting.emile or setting.mail_box or setting.facebook or setting.twitter or setting.instagram %}
                        <h4 style="margin-bottom: 20px;"> {{static_content.contact_us}}</h4>
                    {% else %}
                    {% endif %}
                    <ul>
                      {% if setting and setting.phone_1 %}
                      <li>

                        <a style="margin-right: 10px" target="_blank" href="tel:{{setting.phone_1}}" class="phone">

                          {{static_content.phone_1}} : <span dir="ltr">{{setting.phone_1}}</span></a>

                      </li>
                      {% endif %}

                      {% if setting and setting.phone_2 %}
                      <li style="margin-top: 10px;">
                        <a target="_blank" href="tel:{{setting.phone_2}}" class="phone">{{static_content.phone_2}} : <span
                            dir="ltr">{{setting.phone_2}}</span></a>
                      </li> {% endif %}


                      {% if setting and setting.fax %}
                      <li>

                        <a style="margin-right: 10px" target="_blank" href="tel:{{setting.fax}}" class="phone">

                          {{static_content.fax}} : <span dir="ltr">{{setting.fax}}</span></a>

                      </li>{% endif %}

                      {% if setting and setting.emile %}

                      <li>

                        <a style="margin-right: 10px" target="_blank" href="mailto:{{setting.emile}}" class="emile">
                          
                          {{static_content.email_address}} : <span dir="ltr">{{setting.emile}}</span></a>

                      </li>
                      {% endif %}


                      {% if setting and setting.mail_box %}

                      <li style="text-transform: lowercase;">

                        <a style="margin-right: 10px;text-transform: lowercase;" target="_blank" href="tel:{{setting.mail_box}}" class="phone">
                          
                          {{static_content.mail_box}} : <span dir="ltr" style="text-transform: lowercase;">{{setting.mail_box}}</span></a>

                      </li>
                      {% endif %}
                      {% if setting and setting.free_phone_numbar %}
                      <li>
                        <a style="margin-right: 10px" target="_blank" href="tel:{{setting.free_phone_numbar}}" class="phone">
                          
                          {{static_content.free_number}} : <span dir="ltr">{{setting.free_phone_numbar}}</span></a>

                      </li>
                      {% endif %}
                    </ul>
                    <div class="info-box">
                      
                      {% if  setting and setting.youtube   %}
                        <a target="_blank" href="{{setting.youtube}}" >
                        <i class="bi bi-youtube"> </i></a>
                      {% endif %}
                      
                      {% if  setting and setting.telegram   %}
                          <a target="_blank" href="{{setting.telegram}}">
                          <i class="bi bi-telegram"> </i></a>
                      {% endif %}

                      {% if  setting and setting.instagram   %}
                        <a  target="_blank"   href="{{setting.instagram}}" >
                        <i class="bi bi-instagram"> </i></a>
                      {% endif %}
                      {% if setting and setting.twitter %}
                        <a target="_blank" href="{{setting.twitter}}">
                          <svg  width="18" height="16" viewBox="0 0 18 16" fill="None" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.7849 0.291016H16.4037L10.6823 6.83018L17.4131 15.7285H12.143L8.01522 10.3317L3.29214 15.7285H0.671723L6.79131 8.73414L0.334473 0.291016H5.73839L9.46951 5.22389L13.7849 0.291016ZM12.8658 14.161H14.3169L4.94989 1.77618H3.39268L12.8658 14.161Z" fill="#ffffff"></path>
                          </svg>
                        </a>
                      {% endif %}
                      {% if setting and setting.facebook %}
                        <a target="_blank" href="{{setting.facebook}}">
                          <i class="bi bi-facebook"></i>
                        </a>
                      {% endif %}

                      {% if  setting and setting.whatsapp   %}
                        <a  target="_blank" href="https://api.whatsapp.com/send/?phone={{setting.whatsapp}}" >
                        <i class="bi bi-whatsapp"> </i>
                        </a>
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
          <div style="border: red 0px solid; margin-bottom: 8px; padding: 0px;" class="list-links-footer">
            <ul class="links" style="margin:  0px;">
              <li><a href="/{{static_content.lang}}/privacy-policy" class="">{{static_content.privacy_policy}}</a></li>
              <li><a href="/{{static_content.lang}}/anti-money-laundering" class="router-link-active router-link-exact-active"
                  aria-current="page">{{static_content.money_washing}}</a></li>
            </ul>
          </div>
          <div class="copy-right row gy-2" style="background-color: var(--accent); color: white;z-index: -10;width: 100%;margin: 0px;">
            {% if setting and setting.footer %}
            <div class="col-lg-12  justify-content-center align-content-center copy-right-text">
              {{setting.footer}}
            </div>
            {% else %}
            <div class="col-lg-12 col-12 justify-content-center align-content-center copy-right-text">
              {{static_content.copy_rights}}
            </div>
            {% endif %}
          </div>
        </div>
      </footer>
    {% endif %} 
    {%  if not setting %}
      {% if user.is_active and user.is_staff %}  
        <div class="section-hint-top">
          <div class="section-hint text-center">
            <p>لايوجد اعدادات بالموقع الالكتروني</p>
          </div>
        </div>
      {% else %}
        <div class="section-hint-top">
              <div class="section-hint text-center">
              <p>الموقع قيد الصيانة</p>
            </div>
        </div>
      {% endif %}
    {% endif %}

    {% if  setting.is_hidden_services   or  setting.is_hidden_contact  or  setting.is_hidden_images_portfolio_no_detils  or  setting.is_hidden_branche or  setting.is_hidden_about  or  setting.is_hidden_button_action  or  setting.is_hidden_client  or  setting.is_hidden_galary  or  setting.is_hidden_teams  or  setting.is_hidden_partner  or  setting.is_hidden_ournewsletter  or  setting.is_hidden_imagesportfolionodetils  or  setting.is_hidden_ourmarch  or  setting.is_hidden_sectio_page_all  or  setting.is_hidden_sectio_page_in_home_only  or  setting.is_hidden_bank_applications  or  setting.is_hidden_adsence_header  or  setting.is_hidden_last_news  or  setting.is_hidden_footer  or  setting.is_hidden_logo_ainmation  or  setting.is_hidden_images_portfolio_no_detils  or  setting.is_hidden_services %}
      {% if user.is_active and user.is_staff %}  

      <div class="section-hint-top">
        <div class="section-hint text-center">
              {% if  setting.is_hidden_services %}
            <p>تم اخفاء الخدمات</p>
            {% endif %}
            {% if  setting.is_hidden_contact %}
            <p>تم اخفاء قسم اتصل بنا</p>
            {% endif %}
            {% if  setting.is_hidden_images_portfolio_no_detils %}
            <p>تم اخفاء قسم معرض الصور </p>
            {% endif %}
            {% if  setting.is_hidden_branche %}
            <p>تم اخفاء قسم الفروع </p>
            {% endif %}
            {% if  setting.is_hidden_about %}
            <p>تم اخفاء قسم عنا </p>
            {% endif %}
            {% if  setting.is_hidden_client %}
            <p>تم اخفاء العملاء  </p>
            {% endif %}
            {% if  setting.is_hidden_galary %}
            <p>تم اخفاء معرض الصور  </p>
            {% endif %}
            {% if  setting.is_hidden_teams %}
            <p>تم اخفاء فريق العمل  </p>
            {% endif %}
            {% if  setting.is_hidden_partner %}
            <p>تم اخفاء  الشركاء  </p>
            {% endif %}

            {% comment %} 'is_hidden_ournewsletter',
            'is_hidden_imagesportfolionodetils',
            'is_hidden_ourmarch',
            'is_hidden_sectio_page_all',
            'is_hidden_sectio_page_in_home_only',
            'is_hidden_ourmission',
            'is_hidden_bank_applications',
            'is_hidden_adsence_header',
            'is_hidden_last_news',
            'is_hidden_footer',
            'is_hidden_logo_ainmation',
            'is_hidden_images_portfolio_no_detils',
            'is_hidden_services', {% endcomment %}
        </div>
      </div>
      {% endif %}
    {% endif %}
  {% endblock  %}
