
<div style="width: 100%; height: 10px;background-color: var(--accent);">


</div>
<div class="row" style="margin: 0px; width: 100%; height: 125px;background-color: white;margin-bottom: 0px;border-bottom: 5px var(--primary) solid ;">

    <div class="col" style="border: red 0px solid;text-align: right; padding: 0; ">
      <img src="../../static/assets/img/yemen-places.png" style="object-fit: cover;width: 220px;height: 120px;border: red 0px solid;"/>
    </div> 
    
    <div class="col" style="border: red 0px solid;text-align: center; padding: 0; ">
      <img src="../../static/assets/img/logo-full-width.svg" style="object-fit: contain;width: 320px;height: 120px;border: red 0px solid;"/>
    </div> 

    <div class="col" style="border: red 0px solid; text-align: left; padding: 0; ">
      <img src="../../static/assets/img/yemen-places.png" style="object-fit: cover;width: 220px;height: 120px;border: red 0px solid;"/>
    </div>  


</div>