{% load static %}
{% load in_column_navbar_chield %}
{% load in_type_services %}
{% load in_categories_services %}

{% block navbar %}
{% if navbar %}
<div style=" margin-top: 37px;" class="container-fluid container-xl d-flex align-items-center justify-content-center" dir="{{static_content.direction}}">
    <nav id="navbar" class="navbar align-items-center justify-content-center">

        <ul id="navbar-main" class="backcolorwhite"  style="font-family: AbdoMaster;padding-right: 5px;">

            <li>
                <a style=" height: 32px;" class="nav-link scrollto" href="/{{static_content.lang}}"><span style="font-family: AbdoMaster;font-size: 10pt;"> {{static_content.main}} </span></a>
            </li>

            <li style="margin-left: -10px;">

                <a style=" height: 32px;" class="nav-link scrollto" href="/{{static_content.lang}}/about"><span style="font-family: AbdoMaster;font-size: 10pt;">{{static_content.about}}</span></a>
            </li>


            {% comment %} {% block custom-menu-navbar %}
            {% endblock custom-menu-navbar %} {% endcomment %}


            {% if navbar.bank_applications %}

            <li style="margin-left: -10px;" class="dropdown">

                    <a style=" height: 32px;" href="#">

                        <span style="font-family: AbdoMaster;font-size: 10pt;">{{static_content.bank_applications}}</span>
                    </a>
                    <ul class="sub-header-container">
                        {% for application in navbar.bank_applications %}
                        <li>
                            <a href="/{{static_content.lang}}/application/{{application.id}}"  dir="{{static_content.deirection}}" style="text-align: start;">
                                {% if application.logo_image %}
                                <div class="icon-container">
                                    <img src="{{application.logo_image.url}}" alt="service icon">
                                </div>
                                {% else%}
                                <div class="icon-container"><img src="{% static 'assets/img/logo-only.png'  %}"
                                        alt="service icon"></div>

                                {% endif %}
                                <span  style="font-family: AbdoMaster;font-size: 10pt;">
                                {% if static_content.lang == "ar" %}
                                    {{application.titel|safe}}
                                {% else %}
                                    {{application.titel_en|safe}}
                                {% endif %}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>

            {% endif %}
        {% if navbar.section %}

        <li style="margin-left: -10px;"  class="dropdown" >

            <a style=" height: 32px;" href="#">

                <span style="font-family: AbdoMaster;font-size: 10pt;">

                    {{static_content.pages_and_sections}}

                </span>
            </a>
            <ul class="sub-header-container">
                {% for section in navbar.section %}


                <li><a href="/{{static_content.lang}}/section/{{section.id}}"  dir="{{static_content.deirection}}" style="text-align: start;">
                        {% if section.image %}
                        <div class="icon-container">
                            <img src="{{section.image.url}}" alt="service icon">
                        </div>
                        {% else%}
                        <div class="icon-container"><img src="{% static 'assets/img/logo-only.png'  %}"
                                alt="service icon"></div>

                        {% endif %}
                        <span style="font-family: AbdoMaster;font-size: 10pt;">
                            {% if static_content.lang == "ar" %}
                                {{section.titel}}
                            {% else %}
                                {{section.titel_en}}
                            {% endif %}
                        </span>
                    </a></li>
                {% endfor %}
            </ul>
        </li>

        {% endif %}

        {% if navbar.servicess and navbar.categories_services %}
            {% for categories_service in navbar.categories_services %}

            <li style="margin-left: -10px;" class="dropdown">

                <a style=" height: 32px;" href="#">
                    <span style="font-family: AbdoMaster;font-size: 10pt;">
                        {% if static_content.lang == "ar" %}
                        {{categories_service.name}}
                        {% else %}
                        {{categories_service.name_en}}
                        {% endif %}
                    </span>
                </i></a>

                <ul class="sub-header-container">
                    {% if navbar.servicess %}
                        {% for service in navbar.servicess|in_categories_services:categories_service %}
                            <li><a href="/{{static_content.lang}}/service/{{service.id}}" dir="{{static_content.deirection}}" style="text-align: start;">
                                    {% if service.image %}
                                    <div class="icon-container">
                                        <img src="{{service.image.url}}" alt="service icon">

                                    </div>
                                    {% else %}
                                    <div class="icon-container">

                                        <img src="{% static 'assets/img/logo-only.png'  %}" alt="logo  Alinma ">
                                    </div>
                                    {% endif %}
                                    <span style="font-family: AbdoMaster;font-size: 10pt;">
                                        {% if static_content.lang == "ar" %}
                                            {{service.titel}}
                                        {% else %}
                                            {{service.titel_en}}
                                        {% endif %}
                                        
                                    </span>
                                </a>
                            </li>
                        {% endfor %}
                    {% endif %}

                </ul>

            </li>
            {% endfor %}

        {% endif %}



            {% comment %} {% endif %} {% endcomment %}

                    {% if user is None %}
                    <li class="nav-item-mobile">
                        <a href="/{{static_content.lang}}/login" class="">
                            <span>{{static_content.login}}</span>
                            </a>
                    </li>
                    <li class="nav-item-mobile">
                        <a href="/{{static_content.lang}}/createaccoute" class="">
                                <span>{{static_content.register}}</span>
                            </a>
                    </li>
                    {% endif %}
                     
            <li style="margin-left: -10px;">

                <a style=" height: 32px;" class="nav-link scrollto" href="/{{static_content.lang}}/about"><span style="font-family: AbdoMaster;font-size: 10pt;">    {{static_content.available_jobs}}</span></a>
            </li>

            <li style="margin-left: 8px;">
                        <a style="background-color: var(--accent); height: 32px;border-radius: 5px;padding: 5px;" class="nav-link  scrollto" href="/{{static_content.lang}}/open-account">
    
                            <span style="display: inline-block;
                            font-family: AbdoMaster;font-size: 10pt;">
    
                                {{static_content.request_open_account}}
                            </span>
    
                        </a>
                    </li>
                   
            {% block custom-menu-navbar %}

            {% endblock custom-menu-navbar %}
        </ul>

    </nav>
</div>
</div>

{% endif %}
{% endblock %}