{% load static %}

{% block topheader %}
  <div class="top-header">

    <div class="container" >
      <div class="hamburger-btn list-item mobile-nav-toggle list-item-mobile" 
      style="
      z-index: 100;
      background-color: var(--primary);
      width: fit-content;
      padding: 0px;
      border: 1px rgb(0, 0, 0) solid;
      border-radius: 9px;">
        <div class="mobile-menu-open mobile-menu-btn show">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.5 8.2H16.3C18.1 8.2 19 7.3 19 5.5V3.7C19 1.9 18.1 1 16.3 1H14.5C12.7 1 11.8 1.9 11.8 3.7V5.5C11.8 7.3 12.7 8.2 14.5 8.2Z" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M3.7 19H5.5C7.3 19 8.2 18.1 8.2 16.3V14.5C8.2 12.7 7.3 11.8 5.5 11.8H3.7C1.9 11.8 1 12.7 1 14.5V16.3C1 18.1 1.9 19 3.7 19Z" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M4.6 8.2C6.58822 8.2 8.2 6.58822 8.2 4.6C8.2 2.61177 6.58822 1 4.6 1C2.61177 1 1 2.61177 1 4.6C1 6.58822 2.61177 8.2 4.6 8.2Z" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M15.4 19C17.3883 19 19 17.3883 19 15.4C19 13.4118 17.3883 11.8 15.4 11.8C13.4118 11.8 11.8 13.4118 11.8 15.4C11.8 17.3883 13.4118 19 15.4 19Z" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </div>
        <div class="mobile-menu-close mobile-menu-btn">
          <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.43884 19.217L20.2967 7.72954" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M19.1115 20.4022L7.62402 6.54434" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
