 {% load i18n static %} 

  {% load static%}


{% comment %} {% extends "jop/base.html" %} {% endcomment %}
  

              {% block about-jobs %}


     

<div class="about-page">
    <div class="p-body">


        <div class="container ">
         

            <div class="page-body-container"></div>
                <section id="about" class="about">
                    <div class="container ">
                                   
                        {% comment %} <img class="image-cover m" src="{% static 'jop/assets/img/header.jpg'%}"> {% endcomment %}

                        <div class=" d-flex flex-column justify-content-center content ">
                            
                                <div class="container ">
                                    <header class="section-header">
                                        <h2>تعليمات للتقديم على الوظائف في الموقع</h2>
                                    </header>
                                </div> 
                            <div class="features-list">
                            <ul>  	
                                    <li>
                                        <span>
                                            تعرف على المزيد عن بنك الانماء من خلال الموقع.
                                        </span>
                                    </li>  
                                    <li>
                                        <span>
                                            اطلع على الوظيفة الشاغرة وشروطها واجراءات التوظيف في البنك.
                                        </span>
                                    </li>  
                                    <li>
                                        <span>
                                            قم بتعبئة البيانات الخاصة بك في الموقع بشكل دقيق وكامل.
                                        </span>
                                    </li>  
                                    <li>
                                        <span>
                                            بعد تعبئة البيانات افتح الوظائف الشاغرة واكتب تقديم طلب عمل بحسب تعليمات التقدم للوظيفة .
                                        </span>
                                    </li>  
                                    <li>
                                        <span>
                                            في حال توافق طلبك مع احتياجاتنا الحالية سيتم الرد عليك عبر البريد الالكتروني الخاص بك.
                                        </span>
                                    </li>
                            </ul>
                                        

                        </div>

                        </div>







                        
                        <div class=" d-flex flex-column justify-content-center content ">
                            
                                <div class="container ">
                                    <header class="section-header">
                                        <h2>
                                            إجراءات التوظيف في بنك الانماء


                                        </h2>
                                    </header>
                                </div> 
                            <div class="features-list">
                            <ul>  	
                                    <li>
                                        <span>
                                            بعد تعبئتك للسيرة الذاتية ورسالة طلب العمل في هذا الموقع سيتم فحص البيانات بعناية من قبل فريق التوظيف في البنك.

                                        </span>
                                    </li>  
                                    <li>
                                        <span>

                                        في حالة الاحتياج سوف يتم التواصل معك من قبل مختص التوظيف، لتحديد موعد اختبارات التوظيف والتي تتضمن: أسئلة حول القدرات (IQ)
                                        </span>
                                    </li>  
                                    <li>
                                        <span>
                                            سيتم إجراء اختبارات ومقابلات التوظيف في الإدارة العامة صنعاء حيث تستغرق المدة من يومين إلى أربعة أيام
                                        </span>
                                    </li>  
                                    <li>
                                        <span>
                                        عند اجتيازك لاختبارات ومقابلات التوظيف بنجاح سوف يطلب منك استكمال متطلبات التعيين خلال مده أقصاها أسبوع.
                                        </span>
                                    </li>  
                                    <li>
                                        <span>
                                            سيتم بعد استكمالك لإجراءات التعيين إلحاقك بدورة تدريبية مكثفة في مركز تطوير القدرات بالإدارة العامة ولمدة لا تقل عن أسبوعين.
                                        </span>
                                    </li>

                                    <li>
                                        <span>
                                           سوف يكون التواصل معك خلال هذه المراحل تلفونياً.
                                        </span>
                                    </li>
                            </ul>
                                        

                        </div>

                        </div>



                         <div class=" d-flex flex-column justify-content-center content ">
                            
                                <div class="container ">
                                    <header class="section-header">
                                        <h2>
                                            الوثائق الأولية المطلوبة في التوظيف هي :
                                        </h2>
                                    </header>
                                </div> 
                            <div class="features-list">
                            <ul>  	
                                    <li>
                                        <span>
                                            البطاقة الشخصية الالكترونية.
                                        </span>
                                    </li>  
                                    <li>
                                        <span>
                                            صورة من المؤهلات العلمية مع الأصل للمطابقة.
                                        </span>
                                    </li>  
                                    <li>
                                        <span>
                                            خمس صور شخصية حديثة 4 6* وبدون تحسين.
                                        </span>
                                    </li>  
                                  
                                    
                            </ul>
                                        

                        </div>
                        
                        </div>

                         <div class=" d-flex flex-column justify-content-center content ">
                            
                                <div class="container ">
                                    <header class="section-header">
                                        <h2>
                                            لماذا تنضم إلى فريق العمل في بنك الانماء



                                        </h2>
                                    </header>
                                </div> 
                            <div class="features-list">
                            <ul>  	
                                    <li>
                                        
                                        <span>
                                            <strong>
                                                قيمنا هي أهم اولوياتنا
                                            </strong>
                                            نحن نعتز بقيمنا المؤسسية ونعمل على تعزيز التمسك بها في جميع تعاملاتنا، إن النجاح الوظيفي لدينا لا يعني أن يقوم الموظف بعمله بشكل كامل وكفى، بل إن تبني الموظف للقيم العليا في ثقافته وسلوكياته هي جزء لا يتجزأ من الشخصية الوظيفية المثالية.
                                        </span>
                                    </li>  
                                    <li>
                                        <span>

                                            <strong>
                                                نشجع على التطور والتعلم

                                            </strong>
                                            إننا ننظر إلى الكادر البشري على انه أساس البناء والتطوير ولذلك فإننا نعمل بشكل مستمر على الاهتمام بموظفينا من خلال برامج التدريب وبناء القدرات التي يقدمها قسم تطوير القدرات في البنك.

                                        </span>
                                    </li>  
                                    <li>
                                        <span>
                                            <strong>
                                                نحن فخورون بما نقوم به

                                            </strong>
                                            إن الرضا والتقدير الذي يشعر به كل فرد في فريق العمل نابع من كوننا نقدم قيمة لمجتمعنا، ونساهم بشكل مباشر في خدمة وطننا، اننا نلامس عن قرب احتياجات الناس ونشكل جزء مهم من حياتهم ونقدم لهم خدماتنا البنكية بحب وامتنان، ان الانجازات التي نصنعها على المستوى الفردي والجماعي تجعلنا نشعر بالفخر والاعتزاز لكوننا نعمل هنا.

                                        </span>
                                    </li>  
                                    <li>
                                        <span>
                                            <strong>
                                                نحن فريق عمل واحد

                                            </strong>
                                            إن العمل الجماعي والتقدير والاحترام المتبادل والثقة داخل كل المستويات الوظيفية أهم ما يميز فريق العمل بالبنك، ان عملنا بالقرب من بعضنا ومن اجل هدف واحد يشعرنا بالحماس والاهتمام والرغبة في العطاء اللا محدود.
                                        </span>
                                    </li>  
                                    <li>
                                        <span>
                                            <strong>
                                                ننجح ونتطور معاً
                                            </strong>
                                            نحن نؤمن أن التطور والتحسين المستمر يؤدي إلى الريادة، ولذا نحن نشجع على البحث والاطلاع والمناقشة والتحديث المستمر لطرق الأداء ، وبالتالي نحن نقدر الموظفين الذين يقدمون قيمة مضافة لعملهم ويسعون بإستمرار إلى العمل بأفضل طريقة ممكنة .
                                        </span>
                                    </li>

                            </ul>
                                        

                        </div>

                        </div>



                         <div class=" d-flex flex-column justify-content-center content ">
                            
                                <div class="container ">
                                    <header class="section-header">
                                        <h2>
                                            بيان الإستراتيجية
                                        </h2>
                                    </header>
                                </div> 
                            <div class="features-list">
                            <ul>  	
                                    <li>
                                        <span>

                                            كبنك ;تمويل اصغر اسلامي سنعمل جاهدين خلال الفترة( 2023- 2027 )على تعزيز السمعة والثقة في البنك و زيادة حصتنا في السوق من خلال إضافة خدمات مالية نوعية ومبتكرة وتوسيع انتشارنا باستخدام احدث التقنيات.


                                        </span>
                                    </li>  
                                   
                                    <li>
                                        <span>
                                            سنقوم بتطوير وتحسين خدماتنا ومنتجاتنا بما يتوافق مع أحكام الشريعة الإسلامية، وسنقدم خدماتنا بجودة وكفاءة عالية وبما يستجيب لاحتياجات العملاء وفي اصعب الظروف ويحقق عائد جيد للمودعين والمساهمين ويحفظ حقوق أصحاب المصالح.
                                        </span>
                                    </li>  
                                    <li>
                                        <span>
                                            سنعمل على تعزيز مكانتنا وموقعنا الريادي وتدعيم قدراتنا التنافسية من خلال الاستفادة من شبكة فروعنا ووكلائنا المنتشرين في جميع المحافظات وتوسيعها وتطوير خدماتنا الإلكترونية واستراتيجياتنا التسويقية بما يضمن اقترابنا أكثر من عملائنا في الحضر والريف و زيادة حصتنا في السوق لنكون دوماً مع عملائنا.
                                        </span>
                                    </li>  
                                    <li>
                                        <span>
                                            سنحافظ على كادرنا البشري المنتقى بعناية ونواصل تأهيله وتطويره وتحفيزه ليكون قادراً على رسم وتنفيذ استراتيجية البنك. وسنبني أنظمة ولوائح عملياتيه ومالية وإدارية وتقنية حديثة فعالة قادرة على توفير المعلومات اللازمة لاتخاذ القرارات وتطوير الأداء مستفيدين من الخبرات المحلية والعربية والدولية في تطبيق الممارسات الفضلى في مجال التمويل الأصغر.
                                        </span>
                                    </li>

                                    <li>
                                        <span>
                                            كما سنسعى لنشر وتعزيز الشمول المالي في المجتمع وتسهيل وصول المواطنين للخدمات المالية والبنكية ليصل عدد عملائنا الى اثنين مليون عميل في نهاية عام 2023م
                                        </span>
                                    </li>
                            </ul>
                                        

                        </div>



                    </div>

                </section>
            </div>
        </div>
    </div>
</div>

{% endblock %}