{% extends 'base/base.html' %} {% load i18n static %}
{% load i18n %}
{% load static %}
{% load i18n static %}
{% block custom-menu-footer-navbar %}
  {% if user is None %}
  {% else %}
    <div class="container-fluid container-xl d-flex align-items-center justify-content-center">
      <nav id="footer-navbar" class="footer-navbar align-items-center justify-content-center">
        <div class="container">
          <ul id="navbar-main" class="backcolorwhite">
        </div>
        </ul>
      </nav>
    </div>
  {% endif %}
{% endblock %}
{% block topheadersection %}
{% endblock topheadersection %}

{% block custom-menu-navbar %}
<!--
  <li><a href="{% url "home-jop" %}">الرئيسية</a></li>
<li><a href="{% url "about" %}">عن البنك</a></li>
                        <li><a href="{% url "strategy_bank" %}">تعليمات التقديم</a></li>
<li><a href="{% url "cvedit" %}">السيرة الذاتية</a></li>
<li><a href="{% url "passwordchange" %}">تغيير كلمة المرور</a></li>
<li><a href="{% url "jobsoffered" %}">الوظائف المقدم فيها</a></li>

<li><a href="{% url "show_cv" %}">عرض السيرة الذاتية</a></li>

<li><a href="{% url "createaccounte" %}">مستخدم جديد</a></li>
<li >

  <a class="nav-link scrollto" href="{% url "strategy_bank" %}"
      >تعليمات التقديم</a
  >
  </li>
  <li >
      
    <a class="nav-link scrollto" href="{% url "createaccounte" %}"
        >مستخدم جديد</a
    >
    </li>
    <li >
      {% if user is None %}
      <li><a href="{% url "login-user" %}">تسجيل الدخول</a></li>
  {% else %}
      <li><a href="{% url "userLogout" %}">تسجيل الخروج</a></li>
  {% endif %}
  -->

{% endblock custom-menu-navbar %}


{% block content %}
  {% include 'base/header-back.html' %}
  {% block custom_head %}
  <meta charset="utf-8">
    <style>
      {% block body_style %} {% endblock %}
    </style>
    <link href="{% static 'jop/assets/css/w3.css' %}" rel="stylesheet">
    <style>
    </style> 
  {% endblock %}
  <section class="breadcrumbs" style="border: 0px rgb(0, 255, 8) solid;padding: 0px; background: white;margin: 0px;">
    <div class="container" style="margin-top: 30px;margin-right: 20px;color: var(--primary);text-align: start;" dir="{{static_content.direction}}" >
      <ol dir="{{static_content.direction}}">
        <li><a  style="color: var(--primary);" href="/">{{static_content.main}}</a></li>
        <li><a>{{static_content.employement}}</a></li>
        <li><a>
            {% block content_Breadcrumbs %}
            {% endblock %}
          </a></li>
    </div>
  </section>
  {% block content_body %}
  {% endblock %}
  {% block content-cv-section %}
  {% endblock %}
  <main id="main" dir="{{static_content.direction}}" style="text-align: start;">
    <div class="container">
      <section id="blog" class="blog job">
        <article class="entry">
          {% block content-section %}
          {% endblock %}
        </article>
      </section>
    </div>
  {% block custom_footer_script %}
  {% endblock %}
{% endblock %}