{% extends 'jop/baseall.html'  %} {% load i18n static %} 
{% block title-name %} 
تغير كلمة السر
{% endblock %}
{% block content_Breadcrumbs %}
تغير كلمة السر
{% endblock %}
 {% block custom_css %}
    <link href="{% static 'assets/css/login.css'  %}?version=1" rel="stylesheet" />
 {% endblock %}

{% comment %} {% extends "jop/base.html" %} {% endcomment %}
  {% load static%}
  

{% block title %}
تغير كلمة السر
{% endblock title %}
{% block content-section %}

<div class="login">


  <div id="container">
      <div id="content-start" class="contents">
     <div id="header-log">
       <div id="branding">

         <h2 id="site-name"><a href="{% url 'forgetpassword' %}">
          تغير كلمة السر
  
         </a></h2>


         <button class="theme-toggle">


         </button>



       </div>


     </div>


      {% comment %} </div> {% endcomment %}

        <!-- Content -->
        <div id="contents" class="colM">








      





    <div id="content-main">
          
            <form 
                class="form-horizontal needs-validation align-items-center justify-content-center "
   role="form"
                validate  
    accept-charset="UTF-8" 
   
    enctype="multipart/form-data"  
            method="post"  >

                {% if messages %}
                {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class=" text-center  btn-success  ">
                    {{ message  }}</div>
                  {% else %}
                  <div class=" text-center  btn-danger">
                    {{ message  }}</div>
                  {% endif %}
    
                {% endfor %}
                {% endif %}
    
                {% load i18n static %} {% load crispy_forms_tags %}

                
                {% csrf_token %}
               
                {{ form.as_p }}
                <center>
                    <div class="col-sm-offset-2 col-lg-10">
                        <div class="form-group">
                            <button class="btn btn-primary btn-lg btn-block" type="submit"> ارسال</button></br>
                            
                        </div>
                    </div>
                </center>
            </form>
        
              

            </div>

            </div>
</div>

      </div>


{% endblock content-section %}