{% extends 'jop/baseall.html'  %} {% load i18n static %} 



{% comment %} {% extends "jop/base.html" %} {% endcomment %}
  {% load static%}
  

  {% block content-section %}
    
<img class="m" src="{% static 'jop/assets/img/header.jpg'%}">

<div class="home-row2">
<div class="container ">
<div class="col-md-7">
    <ul style="display: none">  	<li>تعرف على المزيد عن بنك الانماء من خلال الموقع.</li>  
        	<li>اطلع على الوظيفة الشاغرة وشروطها واجراءات التوظيف في البنك.</li>  
            	<li>قم بتعبئة البيانات الخاصة بك في الموقع بشكل دقيق وكامل.</li>  
                	<li>بعد تعبئة البيانات افتح{{static_content.available_jobs}} واكتب تقديم طلب عمل بحسب تعليمات التقدم للوظيفة .</li>  
                    	<li>في حال توافق طلبك مع احتياجاتنا الحالية سيتم الرد عليك عبر البريد الالكتروني الخاص بك.</li> 
                     </ul>
                     <h3>ثلاث خطوات للتقديم على فرصة عمل في بنك&nbsp;الانماء للتمويل  الإسلامي</h3> 
                        <ol>  	<li>تعرف على المزيد عن مصرف الانماء للتمويل  الإسلامي من خلال الموقع.</li>
                            	<li>ادخل بحسابك و قم بتعبئة البيانات الأساسية وإضافة بيانات المؤهل، والأعمال {{static_content.previous}}ة، ومجالات الأعمال التي تتقنها، وبيانات المعرفين، والبيانات العامة بشكل كامل ودقيق.</li>
                                	<li>بعد تعبئة البيانات انتقل إلى{{static_content.available_jobs}} واطلع على تفاصيلها، ثم اكتب رسالة طلب عمل بحسب التعليمات في الصفحة .</li>  </ol>  
                                    <p>* في حال توافق طلبك مع احتياجاتنا الحالية سيتم الرد عليك عبر الهاتف.</p>
</div>
</div>
</div>
{% endblock %}