{% extends 'jop/baseall.html'  %} {% load i18n static %} 
{% block title %} 
{{static_content.login}}
{% endblock %}
{% block content_Breadcrumbs %}
{{static_content.login}}
{% endblock %}
 {% block custom_css %}
    <link href="{% static 'assets/css/login.css'  %}?version=1" rel="stylesheet" />
 {% endblock %}
  {% load static%}
  {% block content-section %}
<div class="login" style="text-align: start;" dir="{{static_content.direction}}">
  <div id="container">
    <div id="content-start" class="contents">
      <div id="header-log">
        <div id="branding">
          <h2 id="site-name"><a href="{% url 'login-user' %}">{{static_content.alinma_bank}} - {{static_content.login}}</a></h2>
          <button class="theme-toggle"></button>
        </div>
      </div>
      <div id="contents" class="colM">
        {% load i18n static %} {% load crispy_forms_tags %}
        <div id="content-main">
          <form method="POST" validate  accept-charset="UTF-8" class="form-horizontal needs-validation align-items-center justify-content-center " role="form">
            {% csrf_token %}
            {% block messages %}
              {% if messages %}
                {% for message in messages %}
                <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
                {% endfor %}
              {% endif %}
            {% endblock messages %}
            {% for field in form %}
              <div class="col-md-12 ">
                  {{field.oreder_message.label_tag}}
                  <div class="input-group mb-3 {% if field.errors %}has-error{% endif %}">
                    <div class="input-group-prepend with-label">

                      {% if static_content.lang == "arr" and field.widget.input_type != 'radio' and field.widget.input_type != 'checkbox' %}
                          {% if field.field.icon %}    
                            <span class="input-group-text" id="basic-addon1">
                                <i class="{{field.field.icon}}"></i>
                            </span>
                          {% else %}
                            <span class="input-group-text" id="basic-addon1">
                              <i class="bi bi-journal-code"></i>
                            </span>
                          {% endif %}
                      {% endif %}
                    </div>
                    {{field|as_crispy_field}}
                  </div>
                  <!-- <small class="text-danger">{{field.errors | striptags}}</small> -->

                </div>
            {% endfor %}
            <div class="col-sm-offset-2 col-lg-10">
                <div  style="text-align: center;margin-bottom: 20px;" >
                    <button name="signinBtn" type="submit">{{static_content.login}}</button></br>
                </div>
            </div>
          </form>

            <a href="{% url 'createaccounte'%}">
              <div  class="btn-link">{{static_content.new_user}}</div>
            </a>
            <br>
              {% comment %} <a href="{% url "forgetpassword"%}"> <div type="button" class="btn-link">نسيت كلمة
                  السر؟</div></a> {% endcomment %}
      </div>
    </div>
  </div>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
      'use strict'
    
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')
    
      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }
    
            form.classList.add('was-validated')
          }, false)
        })
    })()
    </script>
    
  {% endblock%}
