{% extends 'jop/baseall.html'  %} {% load i18n static %} 



{% comment %} {% extends "jop/base.html" %} {% endcomment %}
  {% load static%}
  

  {% block content-section %}
<div class="home-row1">
    <div class="container heading"
style="background:url({% static 'jop/uploads/articles/why-us_ed75ch7w.png'%}) no-repeat bottom right;height:250px">
{% comment %} <h2>الرسالة</h2> {% endcomment %}
</div>
</div>
<div class="home-row2">
<div class="container ">
<div class="col-md-7">
    <p>المساهمة في التنمية الاقتصادية والاجتماعية وفي تحسين مستوى معيشة الفرد والمجتمع عن طريق تقديم خدمات مالية نوعية ومبتكرة بما يتوافق مع أحكام الشريعة الإسلامية ومواصلة الدرب في تبوء موقع ريادي في العمل البنكي من خلال السعي للدمج بين آليات مهنية ذات تكلفة فعالة وعائد جيد للمساهمين والمودعين وخدمة عملاء نموذجية</p>

</div>
</div>
</div>{% endblock %}