{% extends 'jop/baseall.html'  %} {% load i18n static %} 


{% block title %} 
تغير كلمة المرور
{% endblock %}
{% block content_Breadcrumbs %}
تغير كلمة المرور
{% endblock %}

{% comment %} {% extends "jop/base.html" %} {% endcomment %}
  {% load static%}
  

  {% block content-section %}
{% comment %} {% block content %} {% endcomment %}
<div class="container">
    <div class="row login  d-flex
    align-items-center
    justify-content-center">
      
        <center>   <h3>  تغير كلمة المرور</h3> </center>
          
            <form method="post" novalidate class="align-items-center
            justify-content-center needs-validation">
                {% csrf_token %}
                {% if messages %}
                {% for message in messages %}
                <p style="background: red;"{% if message.tags %} class="alert alert-{{ message.tags }} mb-5 " {% endif %}>{{ message }}</p>
                {% endfor %}
                {% endif %}
               
                <div class="col-md-12">
                    
                    <label for="validationCustom01" class=" form-label">كلمة المرور القديمة:</label>
                    <div class="col-md-12">
                        <input class="form-control" id="validationCustom01" name="passwordold" type="password" required>
                        <div class="invalid-feedback">
                            كلمة المرور القديمة مطلوبة.
                          </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="validationCustom02" class="form-label">كلمة المرور الجديدة:</label>
                    <div class="col-md-12">
                        <input class="form-control" id="validationCustom02"required name="newpassword" type="password">
                        <div class="invalid-feedback">
                            كلمة المرور الجديدة مطلوبة.
                          </div>                        
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="validationCustom03" class="form-label">تأكيد كلمة السر الجديدة:</label>
                    <div class="col-md-12">
                        <input class="form-control" id="validationCustom03"required name="confirmpassword" type="password">
                        <div class="invalid-feedback">
                            تأكيد كلمة السر الجديدة غير متطابقة.
                          </div> 
                    </div>
                </div><br>
                <center>
                   
                            <button class="btn btn-primary btn-lg btn-block"name="changepassword" type="submit"> حفظ</button></br>
                            
                      
                </center>
            
                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <p class="alert alert-danger my-3">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </form>
            
        
       
    </div>
</div>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
      'use strict'
    
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')
    
      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }
    
            form.classList.add('was-validated')
          }, false)
        })
    })()
    </script>
    
{% endblock  %}