{% extends 'jop/baseall.html'  %} {% load i18n static %} 



{% comment %} {% extends "jop/base.html" %} {% endcomment %}
  {% load static%}
  

  {% block content-section %}
  
 <div class="home-row1">
    <div class="container"
style="background:url({% static 'jop/uploads/articles/emplyeement-procedure_am1sa77s.png' %}) no-repeat bottom right;height:250px">
{% comment %} <h2>إجراءات التوظيف</h2> {% endcomment %}
</div>
</div>
<div class="home-row2">
<div class="container ">
<div class="col-md-7">
    <h2>إجراءات التوظيف في بنك&nbsp;الانماء</h2>

<p>&nbsp;</p>

<ul>
<li>بعد تعبئتك للسيرة الذاتية ورسالة طلب العمل في هذا الموقع سيتم فحص البيانات بعناية من قبل فريق التوظيف في البنك.</li>
<li>في حالة الاحتياج سوف يتم التواصل معك من قبل مختص التوظيف، لتحديد موعد اختبارات التوظيف والتي تتضمن: أسئلة حول القدرات (IQ)</li>
<li>سيتم إجراء اختبارات ومقابلات التوظيف في الإدارة العامة صنعاء حيث تستغرق المدة من يومين إلى أربعة أيام</li>
<li>عند اجتيازك لاختبارات ومقابلات التوظيف بنجاح سوف يطلب منك استكمال متطلبات التعيين خلال مده أقصاها أسبوع.</li>
<li>سيتم بعد استكمالك لإجراءات التعيين إلحاقك بدورة تدريبية مكثفة في مركز تطوير القدرات بالإدارة العامة ولمدة لا تقل عن أسبوعين.</li>
<li>سوف يكون التواصل معك خلال هذه المراحل تلفونياً.</li>
</ul>

<ul>
<li>
<h3>الوثائق الأولية المطلوبة في التوظيف هي :</h3>

<ul>
<li>البطاقة الشخصية الالكترونية.</li>
<li>صورة من المؤهلات العلمية مع الأصل للمطابقة.</li>
<li>خمس صور شخصية حديثة 4 6* وبدون تحسين.</li>
</ul>
</li>
</ul>

</div>
</div>
</div>
{% endblock %}