{% extends 'jop/baseall.html'  %} {% load i18n static %} 



{% comment %} {% extends "jop/base.html" %} {% endcomment %}
  {% load static%}
  

  {% block content-section %}

  <img src="{% static 'jop/assets/img/header.jpg' %}"class="" width="100%" heading="250px"  />


{% comment %} <h2>الغايات</h2>
</div>
</div> {% endcomment %}
<div class="home-row2">
<div class="container ">
<div class="col-md-7">
    <h4 dir="RTL">مواصلة تبوء موقع ريادي في العمل البنكي&nbsp;يحقق عائد جيد للمساهمين والمودعين عن طريق:</h4>

<p dir="RTL">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; تقديم خدمات مالية نوعية ومبتكرة ذات جودة عالية وبأقل التكاليف تلائم احتياجات كافة&nbsp;العملاء وفي اصعب الظروف.</p>

<p dir="RTL">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; زيادة حصتنا في السوق، والاقتراب أكثر من العملاء&nbsp;عن طريق تعزيز وتوسيع الانتشار في الحضر والريف من خلال استخدام التقنيات المبتكرة.</p>

<p dir="RTL">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; الاستقطاب والتطوير والحفاظ على كادر بشري متميز وطموح يؤمن بقيم البنك.</p>

</div>
</div>
</div>
{% endblock%}