{% extends 'jop/baseall.html'  %} {% load i18n static %} 



{% comment %} {% extends "jop/base.html" %} {% endcomment %}
  {% load static%}
  

  {% block content-section %}
<div class="home-row1">
    <div class="container"
style="background:url({% static 'jop/uploads/articles/why-us_ajol8qpy.png' %}) no-repeat bottom right;height:250px">
<h2>الرؤية</h2>
</div>
</div>
<div class="home-row2">
<div class="container ">
<div class="col-md-7">
    <p>يطمح بنك الانماء أن تصل الخدمات المالية والبنكية لكل مواطن..</p>

</div>
</div>
</div>
{% endblock%}