{% extends 'jop/baseall.html'  %} {% load i18n static %} 



{% comment %} {% extends "jop/base.html" %} {% endcomment %}
  {% load static%}
  

  {% block content-section %}
<div class="home-row1">
    <div class="container"
style="background:url({% static 'jop/uploads/articles/why-us_38gzlq6e.png' %}) no-repeat bottom right;height:250px">
{% comment %} <h2>لماذا تنضم إلى فريق العمل في بنك الإنماء للتمويل الأصغر الإسلامي</h2> {% endcomment %}
</div>
</div>
<div class="home-row2">
<div class="container ">
<div class="col-md-7">
    <h3><span style="color:#FF8C00;"><span style="font-size:20px;">لماذا تنضم إلى فريق العمل في </span>بنك&nbsp;<span style="font-size:20px;">الانماء للتمويل &nbsp;الإسلامي</span></span></h3>

<ul>
<li dir="rtl">
<h3>قيمنا هي أهم اولوياتنا</h3>

<p>نحن نعتز بقيمنا المؤسسية ونعمل على تعزيز التمسك بها في جميع تعاملاتنا، إن النجاح الوظيفي لدينا لا يعني أن يقوم الموظف بعمله بشكل كامل وكفى، بل إن تبني الموظف للقيم العليا في ثقافته وسلوكياته هي جزء لا يتجزأ من الشخصية الوظيفية المثالية.</p>
</li>
<li dir="rtl">
<h3>نشجع على التطور والتعلم</h3>

<p>إننا ننظر إلى الكادر البشري على انه أساس البناء والتطوير ولذلك فإننا نعمل بشكل مستمر على الاهتمام بموظفينا من خلال برامج التدريب وبناء القدرات التي يقدمها قسم تطوير القدرات في البنك.</p>
</li>
<li dir="rtl">
<h3>نحن فخورون بما نقوم به</h3>

<p>إن الرضا والتقدير الذي يشعر به كل فرد في فريق العمل نابع من كوننا نقدم قيمة لمجتمعنا، ونساهم بشكل مباشر في خدمة وطننا، اننا نلامس عن قرب احتياجات الناس ونشكل جزء مهم من حياتهم ونقدم لهم خدماتنا البنكية بحب وامتنان، ان الانجازات التي نصنعها على المستوى الفردي والجماعي تجعلنا نشعر بالفخر والاعتزاز لكوننا نعمل هنا.</p>
</li>
<li dir="rtl">
<h3>نحن فريق عمل واحد</h3>

<p>إن العمل الجماعي والتقدير والاحترام المتبادل والثقة داخل كل المستويات الوظيفية أهم ما يميز فريق العمل بالبنك، ان عملنا بالقرب من بعضنا ومن اجل هدف واحد يشعرنا بالحماس والاهتمام والرغبة في العطاء اللا محدود.</p>
</li>
<li dir="rtl">
<h3>ننجح ونتطور معاً</h3>

<p>نحن نؤمن أن التطور والتحسين المستمر يؤدي إلى الريادة، ولذا نحن نشجع على البحث والاطلاع والمناقشة والتحديث المستمر لطرق الأداء ، وبالتالي نحن نقدر الموظفين الذين يقدمون قيمة مضافة لعملهم ويسعون بإستمرار إلى العمل بأفضل طريقة ممكنة .</p>
</li>
</ul>

</div>
</div>
</div>
{% endblock%}