{% extends "jop/cv/basecv.html" %} {% load i18n %}
{% load static%}

{% block title %}
{{static_content.bank_known}}
{% endblock %}
{% block content_Breadcrumbs %}
{{static_content.bank_known}}
{% endblock %}
{% block body_style %}

{% endblock%}
{% block content-page%}

<div id="main" style="background:#ffffff;" class="col-lg-9">
  <h2>{{static_content.bank_known}}</h2>
  <table class="table table-striped table-bordered" style="overflow-x: auto;">
    <thead>
      <tr>
        <th>{{static_content.name}}</th>
        <th>{{static_content.relation_type}}</th>
        <th>{{static_content.address}}</th>
        <th>{{static_content.telephone}}</th>
        <th>{{static_content.work}}</th>
      </tr>
    </thead>
    <tbody>
      {% csrf_token %}
      {% for f in bankKonownData %}
      <tr>

        <td>{{f.name}}</td>
        <td>{{f.relative}}</td>
        <td>{{f.address}}</td>
        <td>{{f.mobile}}</td>
        <td>{{f.working}}</td>

        <td>

          <div class="button-container">
            <a href="UpdateBankKonown/{{f.id}}" class="btn btn-info form-inline {{disabled}}">تحرير</a>
            <a href="Deletebanknow/{{f.id}}" class="btn btn-danger form-inline">حذف</a>
          </div>


        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="add_new">
    <h3>{{static_content.add_reference}}</h3>
    {% load  static %} {% load crispy_forms_tags %}


    <div>
      {% load i18n static %} {% load crispy_forms_tags %}

      {% if messages %}
      {% for message in messages %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
      <div class=" text-center  btn-success  ">
        {{ message  }}</div>
      {% else %}
      <div class=" text-center  btn-danger">
        {{ message  }}</div>
      {% endif %}

      {% endfor %}
      {% endif %}
      <form method="POST" style="padding: 10px" validate accept-charset="UTF-8" role="form">
        <!-- {% csrf_token %} -->
        <!-- {% for hidden in bankKonown.hidden_fields %}
        <div class="col-md-12 ">
          {{hidden|as_crispy_field}}
        </div>
        {% endfor %} -->
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
        <div class="col-md-12 ">
          {{hidden|as_crispy_field}}
        </div>
        {% endfor %}

        {% for field in form.visible_fields %}


        {% if  field.field.widget.input_type == 'radio' or   field.field.widget.input_type == 'file'%}
        <div class="col-md-12 ">
          {{field.oreder_message.label_tag}}
          <div class="input-group mb-3 {% if field.errors %}has-error{% endif %}">
            <div class="input-group-prepend with-label">
              {% if static_content.lang == "ar" %}
                  <span class="input-group-text" id="basic-addon1">
                      {% if field.field.icon %}
                      <i class="{{field.field.icon}}"></i>
                      {% else %}
                      <i class="bi bi-journal-code"></i>
                      {% endif %}
                  </span>
              {% endif %}
            </div>
            {{field|as_crispy_field}}
          </div>
        </div>
        {% else %}
        <div class="col-md-12 ">
          {{field.oreder_message.label_tag}}
          <div class="input-group mb-3 {% if field.errors %}has-error{% endif %}">
            <div class="input-group-prepend with-label">
              
              {% if static_content.lang == "ar" %}
                  <span class="input-group-text" id="basic-addon1">
                      {% if field.field.icon %}
                      <i class="{{field.field.icon}}"></i>
                      {% else %}
                      <i class="bi bi-journal-code"></i>
                      {% endif %}
                  </span>
              {% endif %}
            </div>
            {{field|as_crispy_field}}
          </div>
        </div>
        {% endif %}
        {% endfor %}
        </br>
        <div class="row gx-5">
          <div class=" col">
            <a href="{% url "BankKonown" %}"> <button class="btn btn-info btn-primary" type="submit">{{static_content.save}}</button>
            </a>
          </div>
          <div class=" col">

            <a type="button" class="btn btn-default prev p-3" href="/{{static_content.lang}}/jobs/employment" role="button">{{static_content.previous}}</a>
          </div>
          <div class=" col">
            <a type="button" class="btn btn-default next p-3 navbar-left" href="/{{static_content.lang}}/jobs/generaldata"
              role="button">{{static_content.next}}</a>
          </div>

        </div>
      </form>
    
      {% if messages %}
      {% for message in messages %}
      <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}