{% extends "jop/cv/basecv.html" %}
{% load static%}
{% block title %} انشاء حساب{% endblock %}
<!-- {% block body_style %}


{% endblock %} -->
{% block content-page%}
<div id="main" class="col-lg-9">

    <div>
        <h2>{{static_content.basic_info}}</h2>
        <div class="edit">

            {% load i18n static %} {% load crispy_forms_tags %}

            {% if messages %}
            {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class=" text-center  btn-success  ">
                {{ message  }}</div>
            {% else %}
            <div class=" text-center  btn-danger">
                {{ message  }}</div>
            {% endif %}

            {% endfor %}
            {% endif %}
            <form method="POST" style="padding: 10px" class="p-5" validate action="{% url "baseinfo" %}">
                {% load crispy_forms_tags %}
                {% csrf_token %}

                <div class="row gy-4">
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class=" text-center  btn-success  ">
                        {{ message  }}</div>
                    {% else %}
                    <div class=" text-center  btn-danger">
                        {{ message  }}</div>
                    {% endif %}

                    {% endfor %}
                    {% endif %}

                    {% load i18n static %} {% load crispy_forms_tags %}
                </div>

                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                <div class="col-md-12 ">
                    {{hidden|as_crispy_field}}
                </div>
                {% endfor %}

                {% for field in form.visible_fields %}
                {% if field.name != "password" and  field.name != "confirmpassword" %}
                {% if  field.field.widget.input_type == 'radio' or   field.field.widget.input_type == 'file'%}
                <div class="col-md-12 ">
                    {{field.oreder_message.label_tag}}
                    <div class="input-group mb-3 {% if field.errors %}has-error{% endif %}">
                        {% if static_content.lang == "ar" %}
                        <div class="input-group-prepend with-label">
                            
              {% if static_content.lang == "ar" %}
              <span class="input-group-text" id="basic-addon1">
                  {% if field.field.icon %}
                  <i class="{{field.field.icon}}"></i>
                  {% else %}
                  <i class="bi bi-journal-code"></i>
                  {% endif %}
              </span>
          {% endif %}
                        </div>
                        {% endif %}
                        {{field|as_crispy_field}}
                    </div>
                    <small class="text-danger">{{field.errors | striptags}}</small>
                </div>
                {% else %}
                <div class="col-md-12 ">
                    {{field.oreder_message.label_tag}}
                    <div class="input-group mb-3 {% if field.errors %}has-error{% endif %}">
                        <div class="input-group-prepend with-label">
                            {% if static_content.lang == "ar" %}
                            <div class="input-group-prepend with-label">
                               
              {% if static_content.lang == "ar" %}
              <span class="input-group-text" id="basic-addon1">
                  {% if field.field.icon %}
                  <i class="{{field.field.icon}}"></i>
                  {% else %}
                  <i class="bi bi-journal-code"></i>
                  {% endif %}
              </span>
          {% endif %}
                            </div>
                            {% endif %}
                        </div>
                        {{field|as_crispy_field}}
                    </div>
                    <small class="text-danger">{{field.errors | striptags}}</small>


                </div>
                {% endif %}
                {% endif %}
                {% endfor %}

            
                </br>
                
    <div class="row gx-5">
        <div class=" col">
            <button class="btn btn-info btn-primary" name="updateSectorNameBtn" type="submit">{{static_content.save}}</button>
        </div>
        <div class=" col">
            <a type="button" class="btn btn-default next col-lg-2 navbar-left" href="/{{static_content.lang}}/jobs/education"
            role="button">{{static_content.next}}</a>
        </div>
      </div>

            </form>
            {% if messages %}
            {% for message in messages %}
            <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
            {% endfor %}
            {% endif %}
        </div>
    </div>


</div>
</div>
</div>

{% endblock %}