{% extends "jop/cv/basecv.html" %}
{% load static%}
{% block custom_css %}
<link href="{% static 'assets/css/changelists.css'  %}?version=1" rel="stylesheet" />

<link href="{% static 'assets/css/base-table-jop.css'  %}?version=1" rel="stylesheet" />
<link href="{% static 'assets/css/rtl-jop.css'  %}?version=1" rel="stylesheet" />
<link href="{% static 'assets/css/responsive-jop.css'  %}?version=1" rel="stylesheet" />
<link href="{% static 'assets/css/responsive_rtl-jop.css'  %}?version=1" rel="stylesheet" />

{% comment %} changelists.css {% endcomment %}
{% endblock custom_css %}
<!-- {% block title %} انشاء حساب{% endblock %} -->
{% block body_style %}
{% endblock%}
{% block content-page%}
{% csrf_token %}
{% load i18n static %}
{% load crispy_forms_tags %}

<div id="main" style="overflow-x:auto;background:#ffffff;" class="col-lg-9">
  <div style="background:#ffffff;padding:10px">

    <h2>{{static_content.education}}</h2>
    <div class="module filtered" id="changelist">
      <div class="changelist-form-container">
        <div class="results">
          <table id="result_list">
            <thead>
              <tr>
                <th>{{static_content.institute_name}}</th>
                <th>{{static_content.country}}</th>
                <th>{{static_content.education_level}}</th>
                <th>{{static_content.speciality}}</th>
                <th>{{static_content.grade}}</th>
                <th>{{static_content.from_date}}</th>
                <th>{{static_content.to_date}}</th>
                <th>#</th>

              </tr>
            </thead>
            <tbody>

              {% for f in formdata %}
              <tr>
                <td> {{f.name_educational_institution}}</td>
                <td>{{f.country}}</td>
                <td>{{f.sducation_level}}</td>
                <td>{{f.specialization}}</td>
                <td>{{f.rate}}</td>
                <td>{{f.From_Date}}</td>
                <td>{{f.To_date}}</td>
                <td>
                  <div class="">
                    <a href="UpdateEducation/{{f.id}}"> <button class="btn btn-info {{disabled}} "
                        id="btnupdata">تحرير</button></a>
                    <a href="deleteeducation/{{f.id}}"> <button class="btn btn-danger " type="submit">حذف</button></a>
                  </div>

                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="add_new">
      <div>
        {% if messages %}
          {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class=" text-center  btn-success  ">
              {{ message  }}
            </div>
            {% else %}
            <div class=" text-center  btn-danger">
              {{ message  }}
            </div>
            {% endif %}

          {% endfor %}
        {% endif %}
        <form method="POST" enctype="multipart/form-data" validate accept-charset="UTF-8"
          class="form-horizontal needs-validation align-items-center justify-content-center " role="form">
          {% csrf_token %}

          {% for field in form %}

          <div class="form-group">
            <div class="col-md-11 ">
              {{field|as_crispy_field}}

            </div>
          </div>
          {% endfor %}
    
          <div class="row gx-5">
            <div class=" col">
              <button class="btn btn-info btn-primary " type="submit">{{static_content.save}}</button>
            </div>
            <div class=" col">
              <a type="button" class="btn btn-default prev col-lg-1" href="/{{static_content.lang}}/jobs/baseinfo" role="button">{{static_content.previous}}</a>
            </div>
            <div class=" col">
              <a type="button" class="btn btn-default next col-lg-2 navbar-left" href="/{{static_content.lang}}/jobs/languagskills" role="button">{{static_content.next}}</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}