{% extends "jop/cv/basecv.html" %}
{% load static%}

{% block title %}
{{static_content.work_domains}}
{% endblock %}
{% block content_Breadcrumbs %}
{{static_content.work_domains}}
{% endblock %}
{% block body_style %}




{% endblock%}
{% block content-page%}

<div id="main" style="overflow-x:auto;background:#ffffff;" class="col-lg-9">
  <div style="background:#ffffff;padding:10px">
    <div class="pro-scroll" style="position:relative;">
      <div class="card-body p-0">
        <div class="table-responsive">
          <h2>{{static_content.work_domains}}</h2>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>{{static_content.number}}</th>
                <th>{{static_content.work_domain}}</th>



              </tr>
            </thead>
            <tbody>
              {% csrf_token %}
              {% for f in employmentData %}
              <tr>
                <td>{{f.id}}</td>
                <td>{{f.name}}</td>



                <td>
                  <div class="button-container">
                    <a href="UpdateEmployment/{{f.id}}" class="btn btn-info form-inline {{disabled}}">تحرير</a>
                    <a href="DeleteEmployment/{{f.id}}" class="btn btn-danger form-inline">حذف</a>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="add_new">
      <h3>{{static_content.add_work_domains}}</h3>
      <div style="background:#ffffff;">


        {% load i18n static %} {% load crispy_forms_tags %}

        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class=" text-center  btn-success  ">
          {{ message  }}</div>
        {% else %}
        <div class=" text-center  btn-danger">
          {{ message  }}</div>
        {% endif %}

        {% endfor %}
        {% endif %}
        <form method="POST" enctype="multipart/form-data" validate accept-charset="UTF-8"
          class="form-horizontal needs-validation align-items-center justify-content-center " role="form">
          {% csrf_token %}
          {% for hidden in form.hidden_fields %}
          <div class="col-md-12 ">
            {{hidden|as_crispy_field}}
          </div>
          {% endfor %}

          {% for field in form.visible_fields %}


          {% if  field.field.widget.input_type == 'radio' or   field.field.widget.input_type == 'file'%}
          <div class="col-md-12 ">
            {{field.oreder_message.label_tag}}
            <div class="input-group mb-3 {% if field.errors %}has-error{% endif %}">
              <div class="input-group-prepend with-label">
                {% comment %} {{experince.your_field_here.label_tag}} {% endcomment %}

                {% if static_content.lang == "ar" %}
                <span class="input-group-text" id="basic-addon1">
                    {% if field.field.icon %}
                    <i class="{{field.field.icon}}"></i>
                    {% else %}
                    <i class="bi bi-journal-code"></i>
                    {% endif %}
                </span>
            {% endif %}
              </div>
              {{field|as_crispy_field}}
            </div>
            <small class="text-danger">{{field.errors | striptags}}</small>

          </div>


          {% else %}
          <div class="col-md-12 ">
            {{field.oreder_message.label_tag}}
            <div class="input-group mb-3 {% if field.errors %}has-error{% endif %}">
              <div class="input-group-prepend with-label">
                {% comment %} {{experince.your_field_here.label_tag}} {% endcomment %}

                {% if static_content.lang == "ar" %}
                <span class="input-group-text" id="basic-addon1">
                    {% if field.field.icon %}
                    <i class="{{field.field.icon}}"></i>
                    {% else %}
                    <i class="bi bi-journal-code"></i>
                    {% endif %}
                </span>
            {% endif %}
              </div>
              {{field|as_crispy_field}}
            </div>
            <small class="text-danger">{{field.errors | striptags}}</small>


          </div>
          {% endif %}
          {% endfor %}

          </br>
          <div class="row gx-5">
            <div class=" col">
              <a href="/{{static_content.lang}}/jobs/employment/{{job.id}}"> <button class="btn btn-info btn-primary" type="submit">{{static_content.save}}</button>
              </a>
            </div>
            <div class=" col">

              <a type="button" class="btn btn-default prev p-3" href="/{{static_content.lang}}/jobs/experince" role="button">{{static_content.previous}}</a>
            </div>
            <div class=" col">
              <a type="button" class="btn btn-default next p-3 navbar-left" href="/{{static_content.lang}}/jobs/BankKonown"
                role="button">{{static_content.next}}</a>
            </div>

          </div>
        </form>

        {% if messages %}
        {% for message in messages %}
        <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
        {% endfor %}
        {% endif %}
      </div>
    </div>


  </div>
</div>
</div>
{% endblock %}