{% extends "jop/cv/basecv.html" %} {% load static%} {% comment %} {% block title %} الدورات التدريبية{% endblock %}
{% endcomment %} {% block title %} الدورات التدريبية {% endblock %} {% block content_Breadcrumbs %} الدورات التدريبية
{% endblock %} {%
{% block content-page %}

<div id="main" class="">
    <div style="background:#ffffff">
        {% load i18n static %} {% load crispy_forms_tags %}

        <form method="POST" novalidate accept-charset="UTF-8" style="" role="form">
            {% csrf_token %}
            <div class="form-group has, 1erw-error">
                <h3> طلب تقديم</h2>
                    <div class="col-sm-12">
                        <p>اكتب رسالة طلب عمل لهذه الوظيفة بشكل تعبير &nbsp;(بدون ترقيم او تنقيط) لتغطي و بشكل واضح
                            النقاط الأربع {{static_content.next}}ة :</p>

                        <ul>
                            <li dir="rtl">هدفك الشخصي والعام من العمل في بنك الانماء.</li>
                            <li dir="rtl">لماذا تعتبر نفسك مناسب لهذه الوظيفة.</li>
                            <li dir="rtl">ما الذي ستضيفه للعمل.</li>
                            <li dir="rtl">وما هي اهم القيم والأولويات لديك.</li>
                        </ul>

                        <p>يجب أن لا تقل رسالة طلب العمل عن 250 كلمة (<span style="font-size:9px;"> اي ما يعادل 1250 حرف
                                تقريباً)</span> وألا تزيد عن 300 كلمة. <span style="font-size:9px;">(هناك عداد للحروف
                                اسفل مربع النص)&nbsp;</span>لن تقبل أي رسالة مكررة
                            من أشخاص آخرين أو منقولة وسيتم رفض طلب التوظيف نهائياً .لن تقبل أي رسالة طلب عمل غير مستوفية
                            للتعليمات أعلاه .</p>

                    </div>



                    <div class="">










                        {% for hidden in form.hidden_fields %}
                        <div class="col-md-12 ">
                            {{hidden|as_crispy_field}}
                        </div>
                        {% endfor %}

                        {% for field in form.visible_fields %}

                        {% if  field.field.widget.input_type == 'radio' or   field.field.widget.input_type == 'file'%}
                        <div class="col-md-12 ">
                            {{field.oreder_message.label_tag}}

                            {{field|as_crispy_field}}


                        </div>

                        {% else %}
                        <div class="col-md-12 ">
                            {{field.oreder_message.label_tag}}
                            <div class="input-group mb-3 {% if field.errors %}has-error{% endif %}">
                                <div class="input-group-prepend with-label">

                                    {% if static_content.lang == "ar" %}
                                    <span class="input-group-text" id="basic-addon1">
                                        {% if field.field.icon %}
                                        <i class="{{field.field.icon}}"></i>
                                        {% else %}
                                        <i class="bi bi-journal-code"></i>
                                        {% endif %}
                                    </span>
                                {% endif %}
                                </div>
                                {{field|as_crispy_field}}
                            </div>
                            <small class="text-danger">{{field.errors | striptags}}</small>

                        </div>
                        {% endif %}
                        {% endfor %}



                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-12">
                                <input id="myButton" class="btn btn-primary" type="submit" value="حفظ">
                            </div>
                        </div>
                        <p><a href="/jobs/show_cv/">رجوع</a></p>


                    </div>

        </form>
        {% if messages %} {% for message in messages %}
        <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
        {% endfor %} {% endif %}
    </div>
</div>
</dvi>
</div>
<script>
    // Get references to the textarea and counter elements
    const textInput = document.getElementById('id_oreder_message');
    const charCount = document.getElementById('char-count');
    const B = document.getElementById('myButton');

    // Function to update the character count
    function updateCharacterCount() {
        const text = textInput.value;
        const count = text.length;

        if (count <= 250) {
            charCount.textContent = count + ' character' + (count !== 0 ? 's' : '');
            charCount.style.color = 'red';
            B.disabled = true;
            B.style.background = "#176bb4"
            B.display = 'none'
        } else {
            charCount.textContent = count + ' character' + (count !== 0 ? 's' : '');
            charCount.style.color = 'black';
            B.disabled = false;
            B.style.background = "#176bb4"
        }

    }

    // Add an input event listener to the textarea
    textInput.addEventListener('input', updateCharacterCount);

    // Initial character count
    updateCharacterCount();
</script>
{% endblock %}