{% load static %}
{% block about %}
  {% if abouts or Massegeabout or ourvision or ourmission or ourmarch or objective %}
  {% else %}
    {% include 'section/404.html' %}
    {% block section-err-404 %}
    {% endblock section-err-404 %}
  {% endif %}
    <!-- ======= About Section ======= -->
  {% if abouts and setting and not setting.is_hidden_about   %}
    <div class="about-page">
      <section id="about" class="about about-us" style="text-align: start;" dir="{{static_content.direction}}">
        <div style="overflow: hidden;">
            <div
                    {% if static_content.lang == "ar" %}
                      style="width: 17%; height: fit-content;float: right; color: var(--primary);font-weight: bolder;font-size: 16pt;"
                    {% else %}
                      style="width: 17%; height: fit-content;float: left; color: var(--primary);font-weight: bolder;font-size: 16pt;"
                    {% endif %}
            
            >
              <span>
                <img src="/static/assets/img/hor-rect.png" height="20" style="margin-bottom: 3px;" />
                <span>
                  {{static_content.about}}
                </span>
              </span>
              <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
              <span>
                <img src="/static/assets/img/hor-rect.png" height="20" style="margin-bottom: 3px;" />
                <span>
                  {% if ourstartup and setting and not setting.is_hidden_about   %}
                    {% if static_content.lang == "ar" %}
                      {{ourstartup.title}}
                    {% else %}
                      {{ourstartup.title_en}}
                    {% endif %}
                  {% else %}
                    نشـأة البنك 
                  {% endif %}
                </span>
              </span>
              <br><br><br><br><br>
              <span>
                <img src="/static/assets/img/hor-rect.png" height="20" style="margin-bottom: 3px;" />
                <span>
                  {{static_content.values}}
                </span>
              </span>
              
              <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
              <span>
                <img src="/static/assets/img/hor-rect.png" height="20" style="margin-bottom: 3px;" />
                <span>
                  
                  {% if Massegeabout and setting and not setting.is_hidden_about   %}
                    {% if static_content.lang == "ar" %}
                      {{Massegeabout.title}}
                    {% else %}
                      {{Massegeabout.title_en}}
                    {% endif %}
                  {% else %}
                  الرسالة
                  {% endif %}

                   
                </span>
              </span>

              
              <br><br><br><br><br><br>
              <span>
                <img src="/static/assets/img/hor-rect.png" height="20" style="margin-bottom: 3px;" />
                <span>
                  
                  {% if ourvision and setting and not setting.is_hidden_about   %}
                    {% if static_content.lang == "ar" %}
                      {{ourvision.titel}}
                    {% else %}
                      {{ourvision.titel_en}}
                    {% endif %}
                  {% else %}
                  الرؤية
                  {% endif %}
                        
                </span>
              </span>
              <br><br><br><br><br>
              <span>
                <img src="/static/assets/img/hor-rect.png" height="20" style="margin-bottom: 3px;" />
                <span>
                  {{static_content.objectives}}
                </span>
              </span>
            </div>
         
          <div class="flex-column justify-content-center"
          
          style="float: right; width: 83%;">
            <div class="content" style="overflow: hidden;" >
              <img src="/static/assets/img/about-cover.png" width="70%"
                {% if static_content.lang == "ar" %}
                  style="position: absolute;top: 20px;left: 6%;overflow: hidden;"
                {% else %}
                  style="position: absolute;top: 20px;right: 6%;overflow: hidden;"
                {% endif %}
               />
              <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
              <div class="description-wrapper" style="color: var(--primary);font-weight: bolder;font-size: 12pt;">
                {% if ourstartup and setting and not setting.is_hidden_about   %}
                  <span>
                    <img src="/static/assets/img/ver-rect.png" height="20" style="margin-bottom: 3px;" />
                    <span>
                        {% if static_content.lang == "ar" %}
                          {{ourstartup.title}}:
                        {% else %}
                          {{ourstartup.title_en}}:
                        {% endif %}
                      <!-- نشأة البنك : -->
                    </span>
                  </span>
                  <p>
                    
                    {% if static_content.lang == "ar" %}
                        {{ ourstartup.detail_ar|safe}}
                    {% else %}
                        {{ ourstartup.detail_en|safe}}
                    {% endif %}
<!--                     
                    نشأ بنك الإنماء للتمويل الأصغر عبر شركة مساهمة يمنية مقفلة تأسست وفقاً لأحكام القانون رقم (15) لسنة 2009م،
                    بشأن بنوك التمويل الأصغر <br>وبناءً على قانون الشركات التجارية اليمني رقم (٢٢) لعام ١٩٩٧م بشأن الشركات
                    التجارية وتعديلاته. -->
                  </p>
                {% endif %}
                <br>
                <span>
                  <img src="/static/assets/img/ver-rect.png" height="20" style="margin-bottom: 3px;" />
                  <span>
                    {{static_content.values}}:
                  </span>
                </span>
                {% if values and setting and not setting.is_hidden_about   %}
                  {% for val in values.all %}
                    <p>
                      <span style="color: var(--accent);">
                        {% if static_content.lang == "ar" %}
                          {{val.title}}
                        {% else %}
                          {{val.title_en}}
                        {% endif %}
                      </span>
                      {% if static_content.lang == "ar" %}
                          {{ val.detail_ar|safe}}
                      {% else %}
                          {{ val.detail_en|safe}}
                      {% endif %}
                    </p>
                  {% endfor %}
                {% endif %}
                <!-- <p>
                  <span style="color: var(--accent);">الالتزام بأحكام الشريعة الإسلامية:</span>
                  التزام البنك بمبادئ الشريعة الإسلامية في تصميم وتقديم منتجات وخدماته المصرفية بمعايير مهنية عالية و بأحدث
                  التقنيات في
                  أداء الخدمة للعملاء.
                </p>
                <p>
                  <span style="color: var(--accent);">الامتثال للقوانين المعمول بها:</span>
                  يمتثل البنك بالقوانين والتشريعات المحلية والدولية التي تنظم قطاع الخدمات المالية. كما يتم الامتثال للمعايير
                  القانونية
                  والمالية والضريبية والمنظمات الرقابية ذات الصلة لضمان التشغيل القانوني والملتزم بالمعايير العالمية للمصرفية.
                </p>
                <p>
                  <span style="color: var(--accent);">النزاهة الشفافية:</span>
                  يتحلى البنك بالشفافية في تعاملاته المالية ويوفر معلومات دقيقة وواضحة للعملاء بشأن المنتجات والخدمات المالية
                  التي
                  يقدمها.
                </p>
                <p>
                  <span style="color: var(--accent);">العدالة:</span>
                  يتعامل البنك بعدالة ومساواة مع جميع العملاء، دون تمييز أو تفضيل بناءً على أي عوامل شخصية أو اجتماعية.
                </p>
                <p>
                  <span style="color: var(--accent);">الأخلاق والأخلاقيات:</span>
                  يتبنى البنك معايير أخلاقية عالية في أعماله، ويتجنب الممارسات غير المشروعة والتلاعب المالي.
                </p>
                <p>
                  <span style="color: var(--accent);">المسؤولية الاجتماعية:</span>
                  يساهم البنك في التنمية المستدامة ورفاهية المجتمعات التي يخدمها. فمسئوليتنا نحو مجتمعنا مسئولية تحدث أثر
                  وبصمة إيجابية
                  نحو تحقيق تنمية اجتماعية واقتصادية في بلدنا.
                </p>
                <p>
                  <span style="color: var(--accent);">الثقة والأمان:</span>
                  يوفر البنك بيئة آمنة وموثوقة للعملاء، ويحافظ على سرية المعلومات الشخصية والمالية.
                </p>
                <p>
                  <span style="color: var(--accent);">الابتكار:</span>
                  يحرص البنك على أن يكون مبتكرًا في تقديم منتجات وخدمات مالية جديدة ومبتكرة، وبتقنيات حديثة تلبي احتياجات
                  العملاء
                  وتتوافق مع المبادئ الإسلامية .
                </p> -->
                {% if Massegeabout and setting and not setting.is_hidden_about   %}
                  <span>
                    <img src="/static/assets/img/ver-rect.png" height="20" style="margin-bottom: 3px;" />
                    <span>
                        {% if static_content.lang == "ar" %}
                            {{Massegeabout.title|safe}}:
                        {% else %}
                            {{Massegeabout.title_en|safe}}:
                        {% endif %}  
                        <!-- الرسالة: -->
                    </span>
                  </span>
                  <p>
                    
                    {% if static_content.lang == "ar" %}
                        {{Massegeabout.detail_ar|safe}}
                    {% else %}
                        {{Massegeabout.detail_en|safe}}
                    {% endif %}
<!--                       
                    توفير حلول مالية شاملة ومتوافقة مع الشرعية الإسلامية بأفضل التقنيات الرقمية لتمكين الأفراد والشركات من تحقيق
                    أهدافهم
                    المالية والمساهمة في التنمية المستدامة و خلق فرص عمل لتخفيف نسبة البطالة وصولاً الى الاعتماد على الذات
                    لأفراد المجتمع.
                    من خلال تقديم خدمات مصرفية وتمويلية عالية الجودة والشفافية. -->
                  </p>
                
                {% endif %}
                <br>
                {% if ourvision and setting and not setting.is_hidden_about   %}
                  <span>
                    <img src="/static/assets/img/ver-rect.png" height="20" style="margin-bottom: 3px;" />
                    <span>
                      {% if static_content.lang == "ar" %}
                          {{ourvision.titel|safe}}:
                      {% else %}
                          {{ourvision.titel_en|safe}}:
                      {% endif %}
                    </span>
                  </span>
                  <p>
                    
                    {% if static_content.lang == "ar" %}
                        {{ourvision.detial_ar|safe}}
                    {% else %}
                        {{ourvision.detial_en|safe}}
                    {% endif %}
                  </p>
                {% endif %}
                <br>
                <span>
                  <img src="/static/assets/img/ver-rect.png" height="20" style="margin-bottom: 3px;" />
                  <span>
                    {{static_content.objectives}}:
                  </span>
                </span>
                {% if objective and setting and not setting.is_hidden_about   %}
                  <p>
                    <span style="color: var(--accent);">
                      {% if static_content.lang == "ar" %}
                        {{objective.titel}}
                      {% else %}
                        {{objective.titel_en}}
                      {% endif %}
                    </span>
                    {% if static_content.lang == "ar" %}
                        {{ objective.detial_ar|safe}}
                    {% else %}
                        {{ objective.detial_en|safe}}
                    {% endif %}
                  </p>
                {% endif %}
                <!-- <p>
                  <span style="color: var(--accent);"> توفير خدمات تمويلية مبتكرة :</span>
                  يهدف البنك إلى تقديم حلول تمويلية مبتكرة ومرنة للأفراد والشركات الصغيرة والمتوسطة، بما في ذلك التمويل الشخصي
                  والتجاري والعقاري والاستثماري.
                </p>
      
                <p>
                  <span style="color: var(--accent);">تعزيز المساواة المالية :</span>
                  يسعى البنك إلى تعزيز العدالة المالية وتوفير فرص متساوية للجميع للوصول إلى الخدمات المالية، مع التركيز على
                  تمكين الفئات الأقل حظًا والمجتمعات المحرومة.
                </p>
      
                <p>
                  <span style="color: var(--accent);"> تعزيز التنمية المستدامة :</span>
                  يهدف البنك إلى المساهمة في التنمية المستدامة للمجتمعات التي يخدمها، من خلال تمويل المشاريع البيئية
                  والاستدامة والاستثمار في القطاعات ذات الأثر الاجتماعي الإيجابي.
                </p>
      
                <p>
                  <span style="color: var(--accent);">توفير خدمات مصرفية إلكترونية متقدمة :</span>
                  يسعى البنك إلى تقديم خدمات مصرفية إلكترونية متطورة وآمنة، مثل الخدمات المصرفية عبر الإنترنت والتطبيقات
                  المصرفية الذكية، والصراف الآلي لتسهيل وتحسين تجربة العملاء.
                </p>
      
                <p>
                  <span style="color: var(--accent);">تعزيز التوعية المالية :</span>
                  يهدف البنك إلى تعزيز التوعية المالية للعملاء والمجتمع، من خلال تقديم برامج تعليمية ومواد توعوية حول الشرعية
                  الإسلامية للتمويل والاستثمار وإدارة المال.
                </p>
      
                <p>
                  <span style="color: var(--accent);">تعزيز الثقافة المصرفية الإسلامية :</span>
                  يسعى البنك إلى تعزيز الثقافة المصرفية الإسلامية وفهمها بين العملاء والمجتمع، من خلال توفير المعلومات
                  والخدمات المصرفية التي تتوافق مع مبادئ الشرعية الإسلامية.
                </p> -->
                <br>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  {% endif %}
  

        

{% endblock about %}