{% load static %}
{% block app %}
{% if application and setting and not setting.is_hidden_bank_applications   %}

{% with "../../static/assets/img/feature-arrow-"|add:static_content.lang|add:".png" as icon_src %}

<section id="apps" class="application-show" >
    <div class="containerr" >
        <header class="section-header">
            <h2>
                تطبيقات البنك
                {% if title %}
                - {{ title }}
                {% endif %}
            </h2>
        </header>
        <div class="apps-section-container"  >
            <section class="application-details" style="padding: 0px; margin: 0px;">
                
                <div class="app-device" >
                    <div class="overlay"></div>
                    {% if application.screen_image %}
                    {% if application.type_choice == 'mobile' %}
                    <div class="app-imgs phone-screen">
                        <div class="app-img">
                            <img alt="app-img" src="{{application.screen_image.url}}" id="app-img-1" class="active">
                        </div>
                    </div>
                    {% elif application.type_choice == 'website' %}
                    <div class="app-imgs wide-screen">
                        <div class="app-img">
                            <img alt="app-img" src="{{application.screen_image.url}}" id="app-img-1" class="active">
                        </div>
                    </div>
                    {% elif application.type_choice == 'desketop' %}
                    <div class="app-imgs wide-screen">
                        <div class="app-img">
                            <img alt="app-img" src="{{application.screen_image.url}}" id="app-img-1" class="active">
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>
                <div  dir="{{static_content.direction}}" class="features-app-box" data-img-id="app-img-3" style="padding-top: 120px; text-align: start;">
                    {% if application.logo_image %}

                    <div class="app-icon" style="box-shadow: 2px 2px 2px 2px rgba(5, 5, 5, 0.443); ">

                        <img alt="app-icon" src="{{application.logo_image.url}}">
                    </div>
                    {% endif %}


                    <div class="app-info">
                        <h5 class="app-name" >
                            {{application.name|safe}}
                        </h5>
                        <p class="app-description" style="color: var(--accent); font-weight: bold; font-size: 20px;">
                            {{application.detial_ar|safe}}
                        </p>

                        {% if application.future_applications.all|length > 0 %}

                        <div class="features-list"  dir="{{static_content.direction}}">
                            <h6 class="features-list-title">
                                <img src="{{icon_src}}" width="14px" height="28px"/>
                                {% if application.type_choice == 'mobile' %}
                                {{static_content.app_features}}
                                
                                {% elif application.type_choice == 'website' %}
                                {{static_content.site_features}}
                                
                                {% elif application.type_choice == 'desketop' %}
                                {{static_content.system_features}}
                                
                                {% endif %}
                                :

                            </h6>
                            <ul>
                                {% for future in application.future_applications.all %}
                                <li style="margin-inline-start: 32px;">
                                    <img src="{{icon_src}}"  width="12px" height="24px" />
                                    <span style=" color: var(--primary); font-weight: bold; padding: 0;">
                                        {{future.name|safe}}
                                    </span>
                                </li>
                                {% endfor %}

                            </ul>
                        </div>
                        {% endif %}


                        <div class="app-footer">

                            {% comment %}
                                {% if application.barcode_image %}
                                <div class="qr-code-scan">
                                    <span class="qr-code-txt">امسح هنا</span>
                                    <img class="qr-code" data-img-id="app-img-3"
                                        src="{{application.barcode_image.url}}">
                                </div>
                                {% endif %}
                            {% endcomment %}
                            <div class="list-app-link-container">

                                {% if application.type_choice == 'mobile' %}
                                <span  dir="{{static_content.direction}}" class="list-app-link-title" style=" margin-right: 100px; color: var(--primary); font-weight: bold;">{{static_content.download_app_now}} :</span>

                                <div class="list-app-link">

                                    <a href="{{application.google_play}}" target="_blank">
                                        <img alt="download app" class="logo-blue" style="height: 120px;"
                                            src="{% static 'assets/img/download-app-google-play.svg' %}">
                                    </a>


                                    <a href="{{application.app_store}}" target="_blank">
                                        <img alt="download app" class="logo-blue"
                                            src="{% static 'assets/img/download-app-store2.svg' %}">
                                    </a>


                                </div>

                                {% elif application.type_choice == 'website' %}
                                <div class="list-system-link-container"><span>{{static_content.visit_site}}
                                    </span><a href="{{application.website}}" target="_blank">{{static_content.from_here}}</a>
                                </div>
                                {% elif application.type_choice == 'desketop' %}
                                <div class="list-system-link-container"><span>{{static_content.install_system}}
                                    </span><a href="{{application.desketop}}" target="_blank">{{static_content.from_here}}</a>
                                </div>
                                {% endif %}

                            </div>


                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>


{% endwith %}
{% endif  %}


{% endblock %}
