{% load static %}
{% block apps %}
{% if applications and setting and not setting.is_hidden_bank_applications   %}



{% comment %} <div class="top-curve">
    
</div> {% endcomment %}
<!-- Slider main container -->



<div id="section-4" class="section-wrapper">
<section id="apps" class="apps-section">
    {% comment %} <div class="top-curve">
        <img src="{% static 'assets/img/top-curve.svg' %}">
    </div> {% endcomment %}


<div class="container">
    <header class="section-header">
        <h2>تطبيقات البنك
        </h2>
        {% comment %} <p>في جميع الأوقات الرسمية</p> {% endcomment %}
      </header>
        <div class="apps-section-container">


          <div class="
          swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-autoheight swiper-rtl apps-slider swiper-backface-hidden
          {% comment %} swiper swiper-initialized swiper-horizontal  swiper-rtl apps-slider  {% endcomment %}
          ">

            <div class="swiper-wrapper" style="cursor: grab; transition-duration: 0ms; transform: translate3d(0px, 0px, 0px); height: 636px;" > 
            {% for application in applications %}

               {% comment %} <div class="swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl  swiper-backface-hidden slider-services slider-services-js"> {% endcomment %}
            
                  
                        <div class=" swiper-slide swiper-slide ">
                         {% comment %} <div class=" c "> {% endcomment %}
                        {% comment %} <div class="  "> {% endcomment %}

                            <div class="features-app-box" data-img-id="app-img-4">
                                {% if application.logo_image  %}

                                    <div class="app-icon">

                                        <img alt="app-icon" src="{{application.logo_image.url}}">
                                    </div>
                                    {% endif  %}

                                            <h5 class="app-name">
                                                {{application.titel|safe}}

                                            </h5>
                                                    <p class="app-description">

                                                        {{application.detial_ar|safe}}

                                                    </p>

                                                    {% if application.future_applications.all|length > 0   %}

                                                    <div class="features-list">
                    
                                                        
                                                                <h6 class="features-list-title">مميزات التطبيق : </h6>
                                                                <ul>
                                                                    {% for future in application.future_applications.all %}
                                                                        <li>
                                                                
                                                                        <span>
                                                                            
                                                                            {{future.name|safe}}
                                                                        
                                                                        </span>
                                                                
                                                                        </li>
                                                                        {% endfor  %}

                                                                </ul>
                                                    </div>
                                                    {% endif  %}

                            <div class="app-footer">
                                                    {% if application.barcode_image  %}

                                                        <div class="qr-code-scan">

                                                            <span class="qr-code-txt">امسح هنا</span>
                                                            <div class="qr-code">
                                                                <img data-img-id="app-img-4" src="{{application.barcode_image.url}}">
                    
                                                            </div>

                                                        </div>
                                                    {% endif  %}

                            <div class="list-app-link-container">
                    
                            {% if application.type_choice == 'mobile'  %}
                            <span class="list-app-link-title">أو قم بتنزيل التطبيق عن طريق :</span>

                            <div class="list-app-link">

                                <a href="{{application.google_play}}" target="_blank">
                                    <img alt="download app" class="logo-blue" src="{% static 'assets/img/download-app-google-play.svg' %}">
                                </a>
                    
                    
                                <a href="{{application.app_store}}" target="_blank">
                                    <img alt="download app" class="logo-blue" src="{% static 'assets/img/download-app-store2.svg' %}">
                                </a>
                            

                            </div>

                            {% elif application.type_choice == 'website'  %}
                                <div class="list-system-link-container"><span>أو قم بزيارة الموقع </span><a href="{{application.website}}" target="_blank">من هنا</a></div>
                            {% elif application.type_choice == 'desketop'  %}
                                <div class="list-system-link-container"><span>أو قم بتحميل التطبيق </span><a href="{{application.desketop}}" target="_blank">من هنا</a></div>
                            {% endif  %}

                            </div>
                        
                        
                            <div class="bottom-curve">
                                <img src="{% static 'assets/img/patern-background.png' %}" > 
                            </div>  
                        
                        </div>
                           {% comment %} </div> {% endcomment %}

                                            {% comment %} <div class=" "> {% endcomment %}

                          
  <div class="app-device">
                                {% if application.screen_image  %}

                                {% if application.type_choice == 'mobile'  %}

                                <div class="app-imgs phone-screen">
                                    <div class="app-img">
                                        <img alt="app-img" 
                                        src="{{application.screen_image.url}}" 
                                        id="app-img-1" class="active">
                                    </div>
                                    
                                </div>
                                {% elif application.type_choice == 'website'  %}
                                <div class="app-imgs wide-screen">
                                    <div class="app-img">
                                        <img alt="app-img" 
                                        src="{{application.screen_image.url}}" 
                                        id="app-img-1" class="active">
                                    </div>
                                    
                                </div>
                                {% elif application.type_choice == 'desketop'  %}
                                <div class="app-imgs wide-screen">
                                    <div class="app-img">
                                        <img alt="app-img" 
                                        src="{{application.screen_image.url}}" 
                                        id="app-img-1" class="active">
                                    </div>
                                    
                                </div>
                                {% endif  %}
                                {% endif  %}
                        </div>

                                                                                        </div>
                                            </div>

                                        {% comment %} </div> {% endcomment %}
                
           
            {% endfor  %}
                                </div>

          
            <div class="apps-pagination custom-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"></div>
                <div class="apps-slider-buttons slider-buttons buttons-outline"><div class="slider-button apps-prev">
              {% comment %} <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.16055 14.9172L1.56055 8.29844L8.16055 1.67969" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg> {% endcomment %}
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	                  viewBox="0 0 116.45 133.01" style="enable-background:new 0 0 116.45 133.01;" xml:space="preserve">
                    <style type="text/css">
                      .st0{fill:#1D70B8;}
                    </style>
                    <polygon class="st0" points="72.21,79.29 56.78,63.87 72.21,48.45 72.21,19.73 28.06,63.87 72.21,108.01 "/>
                </svg>
            </div><div class="slider-button apps-next">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 116.45 133.01" style="enable-background:new 0 0 116.45 133.01;" xml:space="preserve">
              <style type="text/css">
                .st0{fill:#1D70B8;}
              </style>
              <polygon class="st0" points="46.76,48.45 62.19,63.87 46.76,79.29 46.76,108.01 90.91,63.87 46.76,19.73 "/>
            </svg>            </div></div>
          </div>



   

</div>
{% comment %} </div> {% endcomment %}

         

    

</section>
</div>



{% endif  %}


{% endblock apps %}
