{% load static %}
{% block ads-swiper %}
{% if AdsenceHeder and setting and not setting.is_hidden_adsence_header %}
<section id="services-home" class="services-section-home banar" style="order: 1; padding: 0px;" >
  <img style="position: absolute;bottom: -10px;left: 50px;;z-index: 100;" width="150px" height="150px" src="/static/assets/img/two-arrows.png" />
  <a href="#footer" class=" d-flex align-items-center justify-content-center">
    <img style="position: absolute;bottom: 50px;left: 50%;;z-index: 100;" width="80px" height="40px" src="/static/assets/img/arrow-down.png" />
  </a>
  


<div class="services-section-container" style="border: 0px rgb(18, 14, 14) solid;margin-bottom: 20px; ">
  <div class="containerr" style="border: rgb(81, 0, 255) 0px solid; padding: 0px;margin: 0px; ">
    <div  style="border: 0px red solid; " class="swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl  swiper-backface-hidden hero-slider slider-services-js">
      <div class="swiper-wrapper"    >
        {% for services in AdsenceHeder %}
          <div class="swiper-slide" role="group" >
            <img src="{{services.image.url}}" alt="" style="width: 100%;" />
          </div>
          {% endfor %}
      </div>
      <div class="hero-slider-buttons slider-buttons" style="border: 0px red solid;">
        <div class="hero-prev">
          <img src="/static/assets/img/arrow-blue-right.png" width="30px" height="60px"/>
        </div>
        <div class="hero-next">
          <img src="/static/assets/img/arrow-blue-left.png" width="30px" height="60px"/>
        </div>
      </div>
    </div>

  </div>
</div>




</section>









{% comment %} 

<section id="hero" class="ads-swiper d-flex align-items-center">
  <div class="ads-swiper-container">
      <div class="swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl  swiper-backface-hidden hero-slider ">
        <div class="swiper-wrapper align-items-center swiper swiper-fade swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl swiper-watch-progress hero-swiper "
          aria-live="off" style="transition-duration: 0ms;">
          {% for services in AdsenceHeder %}
          <div class="swiper-slide" role="group" aria-label="1 / 2">
            <img src="{{services.image.url}}" alt="" />
          </div>
          {% endfor %}
        </div>
      </div>

    <div class="hero-slider-buttons">
      <div class="slider-button hero-next">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1"
          x="0px" y="0px" viewBox="0 0 116.45 133.01" style="enable-background:new 0 0 116.45 133.01;"
          xml:space="preserve">
          <style type="text/css">
            .st0 {
              fill: #1D70B8;
            }
          </style>
          <polygon class="st0" points="46.76,48.45 62.19,63.87 46.76,79.29 46.76,108.01 90.91,63.87 46.76,19.73 " />
        </svg>
      </div>
      <div class="slider-button hero-prev ">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" viewBox="0 0 116.45 133.01" style="enable-background:new 0 0 116.45 133.01;"
          xml:space="preserve">
          <style type="text/css">
            .st0 {
              fill: #1D70B8;
            }
          </style>
          <polygon class="st0" points="72.21,79.29 56.78,63.87 72.21,48.45 72.21,19.73 28.06,63.87 72.21,108.01 " />
        </svg>
      </div>
    </div>
    <div
      class=" hero-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal swiper-pagination">
    </div>

  </div>
  <span class="swiper-notification
        
        " aria-live="assertive" aria-atomic="true">
  </span>
  </div>
  </div>
  </div>
  </div>
  </div>
</section>


<div class="elementor-element-c14b42c elementor-widget__width-initial elementor-absolute animated-slow hover-img-all e-transform e-transform elementor-widget elementor-widget-image animated slideInDown" data-id="c14b42c" data-element_type="widget" data-settings="" data-widget_type="image.default">
  <div class="elementor-widget-container">

    <img decoding="async" fetchpriority="high" width="200" height="200"
       class="attachment-large size-large wp-image-1206" alt=""
      srcset="
       {% static 'assets/img/patern-ads-block.png'  %} 73w"
      sizes="(max-width: 250px) 100vw, 250px">
  </div>
</div>
{% endcomment %}
{% endif %}

{% endblock ads-swiper %}