{% load static %}
{% block ads-swiper %}
{% if AdsenceHeder and setting and not setting.is_hidden_adsence_header %}
<section id="services-home" class="services-section-home banar" style="order: 1; padding: 0px;" >
  <img style="position: absolute;bottom: -20px;left: 50px;;z-index: 100;" width="200px" height="200px" src="/static/assets/img/two-arrows.png" />
  <a href="#footer" class=" d-flex align-items-center justify-content-center">
    <img style="position: absolute;bottom: -20px;left: 45%;;z-index: 100;" width="180px" height="140px" src="/static/assets/img/arrow-down.svg" />
  </a>
  <div class="services-section-container" style="border: 0px rgb(18, 14, 14) solid;margin-bottom: 30px; ">
    <div class="containerr" style="border: 0 gray solid; border-bottom-width: 1px; padding: 0px;margin: 0px; ">
      <div  style="border: 0px red solid; " class="swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl  swiper-backface-hidden hero-slider slider-services-js">
        <div class="swiper-wrapper"    >
            {% for services in AdsenceHeder %}
            <div class="swiper-slide" role="group" >
              <img src="{{services.image.url}}" alt="" style="width: 100%;" class="slide-img" />
            </div>
            {% endfor %}
            {% comment %}
            {% for services in AdsenceHeder %}
              <div class="swiper-slide" role="group" 
              {% if static_content.lang == "ar" %}
                  style="height: 450pt;width: 100%;;background-image: url({{services.image.url}});background-size: cover;background-repeat: no-repeat;" 
              
                {% else %}
                  style="height: 450pt;width: 100%;;background-image: url({{services.image_en.url}});background-size: cover;background-repeat: no-repeat;" 
                {% endif %}
              <!-- style="height: 450pt;width: 100%;;background-image: url({{services.image.url}});background-size: cover;background-repeat: no-repeat;" 
               -->
              
              >
                <span 
                        {% if static_content.lang == "ar" %}
                          style="position: absolute;top: 74pt;right: 3%;font-family: AbdoMaster;color: var(--primary);font-size: 40pt;font-weight: bold;"
                        {% else %}
                          style="position: absolute;top: 74pt;left: 3%;font-family: AbdoMaster;color: var(--primary);font-size: 40pt;font-weight: bold;"
                        {% endif %}
                >{{ static_content.products }}</span>
                <span
                
                {% if static_content.lang == "ar" %}
                  style="position: absolute;top: 200pt;right: 10%;height: 20pt;direction: rtl;"
                {% else %}
                  style="position: absolute;top: 200pt;left: 10%;height: 20pt;direction: ltr;"
                {% endif %}
                
                >
                  <img 
                  src="/static/assets/img/title-icon.png"  width="45" height="18" />
                  <span style="font-family: AbdoMaster;color: var(--primary);font-size: 20pt;font-weight: bold;">
                    {% if static_content.lang == "ar" %}
                      {{services.Tital_AR}}
                    {% else %}
                      {{services.Tital_EN}}
                    {% endif %}
                  </span>
                </span>
                <span
                
                {% if static_content.lang == "ar" %}
                  style="direction: rtl;max-width: 470pt;position: absolute;top: 245pt;right: 10%;font-family: AbdoMaster;color: var(--accent);font-size: 14pt;font-weight: bold;"
                {% else %}
                  style="direction: ltr;max-width: 470pt;position: absolute;top: 245pt;left: 10%;font-family: AbdoMaster;color: var(--accent);font-size: 14pt;font-weight: bold;"
                {% endif %}
                
                >
                  <!-- يمكن للعملاء فتح حساب جاري إسلامي يتوافق مع مبادئ الشريعة الإسلامية يتيح للعملاء اجراء المعاملات المصرفية اليومية -->
                  {% if static_content.lang == "ar" %}
                    {{services.Description_AR}}
                  {% else %}
                  {{services.Description_EN}}
                  {% endif %}
                  
                </span>
              </div>
            {% endfor %}
            
            {% endcomment %}
            <!-- <div class="swiper-slide" role="group" style="height: 450pt;width: 100%;;background-image: url('/static/assets/img/whole-02.jpg');background-size: cover;background-repeat: no-repeat;" >
              <span style="position: absolute;top: 74pt;right: 3%;font-family: AbdoMaster;color: var(--primary);font-size: 40pt;font-weight: bold;">المنتجات</span>
              <span style="position: absolute;top: 200pt;right: 10%;height: 20pt;">
                <img  src="/static/assets/img/title-icon.png"  width="45" height="18" />
                <span style="font-family: AbdoMaster;color: var(--primary);font-size: 20pt;font-weight: bold;">حسابات جارية للأفراد</span>
              </span>
              <span style="max-width: 470pt;position: absolute;top: 245pt;right: 10%;font-family: AbdoMaster;color: var(--accent);font-size: 14pt;font-weight: bold;">
                يمكن للعملاء فتح حساب جاري إسلامي يتوافق مع مبادئ الشريعة الإسلامية يتيح للعملاء اجراء المعاملات المصرفية اليومية
              </span>
            </div> -->
        </div>
        <div class="hero-slider-buttons slider-buttons" style="border: 0px red solid;width: 95%;">
          <div class="hero-prev">
            <img src="/static/assets/img/arrow-blue-right.svg" width="140px" height="180px"/>
          </div>
          <div class="hero-next">
            <img src="/static/assets/img/arrow-blue-left.svg" width="140px" height="180px"/>
          </div>
          <!-- <div class="hero-prev">
            <img src="/static/assets/img/right-yellow-arrow.png" width="40px" height="80px"/>
          </div>
          <div class="hero-next">
            <img src="/static/assets/img/left-yellow-arrow.png" width="40px" height="80px"/>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>

{% endif %}

{% endblock ads-swiper %}