
{% load static %}
{% block OurVision %}
{% if ourvision %}

    <section id="counts" class="counts">
          <div class="container">

     <header class="section-header">
        {% comment %} <h2>رؤيتنا</h2> {% endcomment %}
        <p>رؤيتنــــا</p>
        {% comment %} <p>تواصل معنا عبر الاتصال او الايميل او عبر احد مواقع تواصلنا الإجتماعي واحصل على عرض سعر للتصميم الذي تريده</p> {% endcomment %}
      </header>
        {% comment %} <p>{{ abouts.detial_ar }}</p> {% endcomment %}
      {% comment %} <div class="col-lg-6 d-flex flex-column justify-content-center"> {% endcomment %}
         
        <div class="row gy-4">
        <div class="col-lg-6 col-md-4">

          <div class="counts-box blue">

          <div class="contentss">
           
            <p>{{ ourvision.detial_ar|safe }}</p>
          
          </div>
        </div>
      </div>
        {% if ourmission %}
        <div class="col-lg-6 col-md-6">

         <header class="section-header">
        <p>مهمتنــــا</p>
        </header>
        <div class="counts-box blue">

          <div class="contentss">
            <p>{{ ourmission.detial_ar|safe }}</p>
           
          </div>
        </div>
         </div>
        {% endif  %}

        </div>
        <div class="row gy-4">

        {% for statistic in statistics %} 

         <div class="col-lg-3 col-md-6 text-center text-lg-start ">
            <div class="count-box text-center">
              {% comment %} <i class="bi bi-emoji-smile"></i> {% endcomment %}
              <div>
                <span data-purecounter-start="0" data-purecounter-end="{{statistic.number}}" data-purecounter-duration="1" class="purecounter"></span>
                <p>{{statistic.titel}}</p>
              </div>
            </div>
          </div>
        {% endfor %}


      

        </div>

      </div>
    </section><!-- End Counts Section -->

{% endif  %}

<!-- End Brand Carousel -->
{% endblock %}
