{% load static %}
{% block service-item-list-section %}

{% if ServiceItem and setting and not setting.is_hidden_services %}

<section id="services-home" class="services-section-home" style="order: 1; border: red 0px solid; padding: 0px;" >
  <div class="container">
    <div class="section-header section-heading text-center ">


      {% if section_title_services %}
      <h2 class="section-title">
        {{section_title_services}}
      </h2>
      <p>باقة فريدة من الخدمات البنكية المتطورة</p>

      {% else %}
      <h2 class="section-title">
        خدماتنا دوماً معك
      </h2>
      <p>باقة فريدة من الخدمات البنكية المتطورة</p>
      {% endif %}

      {% comment %} <p>باقة فريدة من الخدمات البنكية المتطورة</p> {% endcomment %}
    </div>
  </div>

  <div class="services-section-container" >
    <div class="container" style="border: red 0px solid solid;">  
      <div class="swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl  swiper-backface-hidden slider-services slider-services-js">
        <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(7580px, 0px, 0px);">
          {% for services in ServiceItem %}
          <div class="swiper-slide">

            <a href="{% url 'service-single' services.id %}" class="service-card">

              <div class="service-card-body">
                <div class="service-img">
                  {% if services.image %}
                  <img src="{{services.image.url}}" alt="{{services.titel}}">
                  {% else %}
                  <img src="{% static 'assets/img/logo-only.png'  %}" alt="service-img">
                  {% endif %}
                </div>


                <div class="service-details">
                  <h5 class="service-title">

                    {{services.titel}}
                  </h5>
                  <p class="service-desc">

                    {{services.short_detial}}
                  </p>
                </div>

              </div>
              <div class="btn btn-primary">عرض تفاصيل أكثر</div>

            </a>
          </div>
          {% endfor %}
        </div>
        <div class="services-pagination custom-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
          <span class="swiper-pagination-bullet"></span>
          <span class="swiper-pagination-bullet"></span>
          <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
          <span class="swiper-pagination-bullet"></span>
          <span class="swiper-pagination-bullet"></span>
          <span class="swiper-pagination-bullet"></span>
          <span class="swiper-pagination-bullet"></span>
          <span class="swiper-pagination-bullet"></span>
          <span class="swiper-pagination-bullet"></span>
          <span class="swiper-pagination-bullet"></span>
          <span class="swiper-pagination-bullet"></span>
          <span class="swiper-pagination-bullet"></span>
          <span class="swiper-pagination-bullet"></span>
          <span class="swiper-pagination-bullet"></span>
        </div>
        <div class="hero-slider-buttons slider-buttons" >
          <div class="slider-button services-prev">
            <img src="../../static/assets/img/arrow-blue-left.png" width="20px" height="35px"/>
          </div>
          <div class="slider-button services-next">
            <img src="../../static/assets/img/arrow-blue-right.png" width="20px" height="35px"/>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
{% comment %} </div> {% endcomment %}
{% endif %}



{% endblock service-item-list-section %}