{% extends 'base/base.html' %} {% load i18n static %} 
{% block content %}
{% include 'base/header-back.html' %}
<main id="main" >
  <div class="about-page">
    <div class="page-hero-body">
    <section class="breadcrumbs" style="border: 0px red solid;background: none;padding: 0px;margin-top: 180px;">
      <div class="container" style="margin-top: 30px;margin-right: 20px;color: var(--primary);">
        <ol dir="{{static_content.direction}}">
          <li><a  style="color: var(--primary);" href="/">{{static_content.main}}</a></li>
          <li>{{static_content.about}}</li>
        </ol>
      </div>
    </section>
    <div class="p-body" style="margin-top: -80px;">
      <div class="container" >
        <div class="page-body-container" style="padding: 0px;">
          {% include 'section/about.html' %}
          {% block about %}
          {% endblock about %}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
