{% extends 'base/base.html' %} 
{% block title %} 
        {% if titel   %}
        {{ titel }}
        {% else %}
        المدونة 
        {% endif %}
{% endblock %}
{% load i18n static %} {% block content %}
{% load static %}
{% load i18n static %}
{% include 'base/header-back.html' %}

    <main id="main">
      <div class="news-page" style="order: 5;">
        <div class="page-hero-body" style="margin-top: 0px;;">
          <div class="p-hero" style="padding: 0px;background: none;border: 0px red solid;">
            <div class="container" >
              <div class="page-heading" style="color: var(--primary);">
                <div class="breadcrumb" style="color: var(--primary); background: none;font-weight: bolder;">
                  <div class="breadcrumb-item"><a style="color: var(--primary);" href="/" class="router-link-active">الرئيسية</a>
                    <div class="breadcrumb-divider">
                      <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrow">
                        <path d="M8.16055 14.9172L1.56055 8.29844L8.16055 1.67969" stroke="var(--primary)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </div>
                  <div>
                    <a style="color: var(--primary);opacity: 1;" aria-current="page" class="router-link-active router-link-exact-active disabled">
                      {% if titel   %}
                        {{ titel }}
                      {% endif  %}
                    </a>
                  </div>
                </div>
                <h1  >
                  {% if titel %}
                    {{titel}}
                  {% endif  %}
                </h1>
              </div>
            </div>
          </div>
          <div class="p-body" style="order: 5;margin: 10px;border-radius: 10px;box-shadow: 0px 0px 10px gray;">
            <div class="container">
              <div class="page-body-container">
              <div class="list-news">
                {% for blog in blogs %}
                  <a href="{% url 'last-news-detiel' blog.id %}" class="news-card">
                    <div class="news-img">
                      {% if blog.image %}
                      <img alt="news-img" src="{{blog.image.url}}">
                      {% endif %}
                
                    </div>
                    <div class="news-details">
                      <h3 class="news-card-title">
                        {{blog.titel}}
                      </h3>
                      <div class="news-card-date">
                        <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M5.5 1V3.7" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                          <path d="M12.7 1V3.7" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round">
                
                          </path>
                          <path d="M1.44995 7.38086H16.75" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                          <path
                            d="M17.2 6.84985V14.4999C17.2 17.1999 15.85 18.9999 12.7 18.9999H5.5C2.35 18.9999 1 17.1999 1 14.4999V6.84985C1 4.14985 2.35 2.34985 5.5 2.34985H12.7C15.85 2.34985 17.2 4.14985 17.2 6.84985Z"
                            stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round">
                          </path>
                          <path d="M12.4253 11.5301H12.4334" stroke="#292D32" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                          <path d="M12.4253 14.2298H12.4334" stroke="#292D32" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                          <path d="M9.09594 11.5301H9.10402" stroke="#292D32" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                          <path d="M9.09594 14.2298H9.10402" stroke="#292D32" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                          <path d="M5.76488 11.5301H5.77296" stroke="#292D32" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                          <path d="M5.76488 14.2298H5.77296" stroke="#292D32" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        </svg>
                        <span>
                          {{blog.Date_Added.date}}
                        </span>
                      </div>
                    </div>
                  </a>
                {% endfor %}
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="blog-pagination" >
          <ul class="justify-content-center">
            {% for page_r in paginator.page_range %}
            <li {% if page_r == page %}
            class="active" {% endif %}><a href="?page={{ page_r }}">
              {{ page_r }}</a></li>
            {% endfor %}
        
          </ul>
        </div>
      </div>
    </main>
{% endblock %}