{% extends 'base/base-blog.html' %} 
{% load i18n static %}
{% load static %}
{% load i18n static %}
{% block content %} 
  {% include 'base/header-back.html' %}
  {% block breadcrumbs %}
    <section class="breadcrumbs" style="border: 0px rgb(0, 255, 8) solid; background: none;padding: 0px;">
      <div class="container" style="margin-top: 30px;margin-right: 20px;color: var(--primary);text-align: start;"  dir="{{static_content.direction}}">
        <ol dir="{{static_content.direction}}">
          <li><a  style="color: var(--primary);" href="/">{{static_content.main}}</a></li>
          {% if application and setting and not setting.is_hidden_bank_applications %}
            <li>{{static_content.applications}}</li>
            <li>
              {% if static_content.lang == "ar" %}
                                {{application.titel|safe}}
                            {% else %}
                                {{application.titel_en|safe}}
                            {% endif %}
              </li>
          {% elif section_page %}
            <li>{{static_content.section}}</li>
            <li>
                          {% if static_content.lang == "ar" %}
                                {{section_page.titel|safe}}
                            {% else %}
                                {{section_page.titel_en|safe}}
                            {% endif %}
                          </li>
          {% elif news %}
            <!--<li>{{news.category}}</li>-->
            <li>
                      {% if static_content.lang == "ar" %}
                          {{news.titel|safe}}
                      {% else %}
                          {{news.titel_en|safe}}
                      {% endif %}
          </li>
          {% elif privace %}
            <li>{{static_content.privacy_policy}}</li>
          {% elif policie %}
            <li>{{static_content.policies}}</li>
          {% elif title %}
            <li>{{ title }} </li>
          {% elif titel %}
            <li>{{ titel }} </li>
          {% else %}
            <li>Page not found (404)</li>
          {% endif %}
        </ol>
        {% if OurAdvantage %}
          <h2>{{OurAdvantage.titel|safe}}</h2>
        {% endif %}
        {% if news %}
          <h2>
            {% if static_content.lang == "ar" %}
                          {{news.titel|safe}}
                      {% else %}
                          {{news.titel_en|safe}}
                      {% endif %}
            </h2>
        {% endif %}
        {% if privace %}
          <h2>{{static_content.privacy_policy}}</h2>
        {% elif policie %}
          <h2>{{static_content.policies}}</h2>
        {% endif %}
      </div>
    </section>
  {% endblock %}
  {% block content_body %}
    {% if policie %}
      <article class="entry" style="text-align: start;"  dir="{{static_content.direction}}">
        <div class="container">
          <div class="page-cover">
            {% if policie.image %}
              <img src="{{policie.image.url}}" class="img-fluid img-flight-schedule" alt="{{blog.detial_ar}}">
            {% endif %}
          </div>
          <h2 class="entry-title">
            {% if static_content.lang == "ar" %}
                          {{policie.titel}}
                      {% else %}
                          {{policie.titel_en}}
                      {% endif %}
          </h2>
          <div class="entry-meta">
            <ul>
              <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i>
                <time datetime="{{policie.Date_Added.date}}"> {{policie.Date_Added.date}}</time>
              </li>
            </ul>
          </div>
          <div class="entry-content">
            <p>
              
              {% if static_content.lang == "ar" %}
                  {{policie.detial_ar|safe}}
              {% else %}
                  {{policie.detial_en|safe}}
              {% endif %}
            </p>
          </div>
        </div>
      </article>
    {% elif news %}
      <article class="entry">
        <div class="container">
          <div
            class="blog-details-slider swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl  swiper-backface-hidden slider-services-blog-js">
            <div class="swiper-wrapper align-items-center">
              {% if imagesblogs %}
              {% for imageblog in imagesblogs %}
              <div class="swiper-slide">
                {% if imageblog.image %}
                <div class="page-cover">
                  <img src="{{imageblog.image.url}}" alt="{{news.titel}}" />
                </div>
                {% else %}
                <div class="page-cover">
                  <img src="{% static 'assets/img/logo-only.png'  %}" alt="">
                </div>
                {% endif %}
              </div>
              {% endfor %}
              {% endif %}
              {% if news.image %}
              <div class="swiper-slide">
                <div class="page-cover">
                  <img src="{{news.image.url}}" class="img-fluid img-flight-schedule" alt="{{news.titel}}">
                </div>
              </div>
              {% endif %}
            </div>
            <div
              class="blog-details-pagination custom-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
              <span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span
                class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span
                class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span
                class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span
                class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span
                class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span
                class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span
                class="swiper-pagination-bullet"></span>
            </div>
            <div class="blog-details-slider-buttons slider-buttons">
              <div class="slider-button blog-details-prev">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px" y="0px" viewBox="0 0 116.45 133.01" style="enable-background:new 0 0 116.45 133.01;"
                  xml:space="preserve">
                  <style type="text/css">
                    .st0 {
                      fill: #1D70B8;
                    }
                  </style>
                  <polygon class="st0" points="72.21,79.29 56.78,63.87 72.21,48.45 72.21,19.73 28.06,63.87 72.21,108.01 " />
                </svg>
              </div>
              <div class="slider-button blog-details-next">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1"
                  x="0px" y="0px" viewBox="0 0 116.45 133.01" style="enable-background:new 0 0 116.45 133.01;"
                  xml:space="preserve">
                  <style type="text/css">
                    .st0 {
                      fill: #1D70B8;
                    }
                  </style>
                  <polygon class="st0" points="46.76,48.45 62.19,63.87 46.76,79.29 46.76,108.01 90.91,63.87 46.76,19.73 " />
                </svg>
              </div>
            </div>
            <h2 class="entry-title">
              {{news.titel}}
            </h2>
            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i>
                  <time datetime="{{news.Date_Added.date}}"> {{news.Date_Added.date}}</time>
                </li>
              </ul>
            </div>
            <div class="entry-content">
              <p>
                {{news.detial_ar|safe}}
              </p>
            </div>
          </div>
      </article>
    {% elif application %}
      <article class="entry">
        {% include 'section/apps-detial.html' %}
        {% block app %}
        {% endblock %}
      </article>
    {% elif section_page %}
      <article class="entry">
        {% include 'section/single-custome-section.html' %}
        {% block ouradvantage %}
        {% endblock %}
      </article>
    {% else %}
      <article class="entry">
        {% include 'section/404.html' %}
        {% block section-err-404 %}
        {% endblock %}
      </article>
    {% endif %}
  {% endblock %}
{% endblock %}