{% extends 'base/base.html' %} {% load i18n static %}

{% block title %} {{statc_content.main}} الرئيسية {% endblock %}

{% block content %}

{% comment %}

{% endcomment %}

{% include 'base/header-back.html' %}

{% include 'section/hero-swiper.html' %}

{% block ads-swiper %}
{% endblock ads-swiper %}

<main id="main">

  {% include 'section/service-item-list-section.html' %}

  {% block service-item-list-section %}

  {% endblock service-item-list-section %}

  {% include 'section/apps-bank-section.html' %}
  {% block app-bank-section %}
  {% endblock app-bank-section %}

  {% include 'section/currencies-section.html' %}
  {% block currencies-section %}
  {% endblock currencies-section %}

  {% include 'section/statistics.html' %}
  {% block statistics %}
  {% endblock statistics %}


</main>
<!-- End #main -->
{% endblock %}