{% extends 'base/base.html' %} {% load i18n static %}

{% block title %} الرئيسية {% endblock %}

{% block content %}
<div style="width: 100%; height: 10px;background-color: var(--accent);">


</div>
<div class="row" style="margin: 0px; width: 100%; height: 125px;background-color: white;margin-bottom: 50px;border-bottom: 5px var(--primary) solid ;">

    <div class="col" style="border: red 0px solid;text-align: right; padding: 0; ">
      <img src="../static/assets/img/yemen-places.png" style="object-fit: cover;width: 220px;height: 120px;border: red 0px solid;"/>
    </div> 
    
    <div class="col" style="border: red 0px solid;text-align: center; padding: 0; ">
      <img src="../static/assets/img/logo-full-width.svg" style="object-fit: contain;width: 320px;height: 120px;border: red 0px solid;"/>
    </div> 

    <div class="col" style="border: red 0px solid; text-align: left; padding: 0; ">
      <img src="../static/assets/img/yemen-places.png" style="object-fit: cover;width: 220px;height: 120px;border: red 0px solid;"/>
    </div>  


</div>

{% comment %}
{% include 'section/hero-swiper.html' %}

{% endcomment %}
{% block ads-swiper %}
{% endblock ads-swiper %}




<main id="main">


    {% comment %} {% include 'section/slide_show.html' %}
    {% block Slideshow  %}
    {% endblock Slideshow  %} {% endcomment %}

    {% comment %} {% include 'section/about.html' %}
    {% block about %}
    {% endblock about %} {% endcomment %}

  

 


  {% comment %} {% include 'section/aftar_header.html' %}
    {% block aftarAds %}
    {% endblock aftarAds %} {% endcomment %}
  
    {% comment %} {% include 'section/our_vision.html' %}
    {% block OurVision %}
    {% endblock OurVision %} {% endcomment %}
    <div class="aftar-ads">
      {% comment %} <h2 class="section-title">خدماتنا دوماً معك</h2> {% endcomment %}
      {% comment %} <p>باقة فريدة من الخدمات البنكية المتطورة</p> {% endcomment %}
    </div>

  
  {% include 'section/service-item-list-section.html' %}
  
  {% block service-item-list-section %}
  {% comment %} {% block section-title-services %}
            <h2 class="section-title">
                 خدماتنا دوماً معك
            </h2> {% endcomment %}
           
  {% endblock service-item-list-section %}
  {% comment %} {% include 'section/apps.html' %}
  {% block apps %}
  {% endblock apps %} {% endcomment %}



  {% include 'section/apps-bank-section.html' %}
  {% block app-bank-section %}
  {% endblock app-bank-section %}


  {% include 'section/currencies-section.html' %}
  {% block currencies-section %}
  {% endblock currencies-section %}
  {% include 'section/statistics.html' %}
  {% block statistics %}
  {% endblock statistics %}
  
      {% include 'section/teams.html' %}
      {% block team %}
      {% endblock team %}

      
      {% include 'section/faq.html' %}
      {% block faq %}
      {% endblock faq %}
     
      
      {% include 'section/testimonials.html' %}
      {% block testimonials %}
      {% endblock testimonials %}


      
    {% include 'section/clients.html' %}
      {% block Clients %}
      {% endblock Clients %}
    {% include 'section/partners.html' %}
      {% block Partners %}
      {% endblock Partners %}
  
      {% include 'section/last-news-section.html' %}
      {% block last-news-section %}
      {% endblock last-news-section %}

      {% include 'section/custome_section.html' %}
      {% block SectionPageHome %}
      {% endblock SectionPageHome %}



{% if ImagesPortfolioNoDetils and setting and not setting.is_hidden_images_portfolio_no_detils %}

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container" >
      <header class="section-header">
        <h2>معرض الصور</h2>
        {% comment %} <p>معرض الصور</p> {% endcomment %}
      </header>

      

      <div
        class="row gy-4 portfolio-container"
        
        
      >
      {% comment %} {% for imagesportfolio in ImagesPortfolioss %} {% load to_and %}
        <div
          class="
            col-lg-4 col-md-6f
            portfolio-item {{imagesportfolio.portfolio.category.name|to_and }}
          "
          >
          <div class="portfolio-wrap" >
            <img  class="img-fluid img-portfolio" src="{{imagesportfolio.image.url}}"  alt="{{imagesportfolio.portfolio.titel}}" />
            <div class="portfolio-info">
              <h4>{{imagesportfolio.portfolio.titel}}</h4>
              <p>{{imagesportfolio.portfolio.category.name}}</p>
              <div class="portfolio-links" >
                <a
                  href="{{imagesportfolio.image.url}}"
                  data-gallery="portfolioGallery"
                  class="portfokio-lightbox"
                  title="{{imagesportfolio.portfolio.titel}}"
                  ><i class="bi bi-plus"></i
                ></a>

                {% if imagesportfolio.portfolio.category != None %}


                <a href="{% url 'portfolio-details' imagesportfolio.id %}" 
                title="More Details"><i class="bi bi-link"></i
                ></a>

                {% endif %}
              </div>
            </div>
          </div>
        </div>

        {% endfor %} {% endcomment %}
         {% for imageportfolioNoDetils in ImagesPortfolioNoDetils %}

        <div
          class="col-lg-4 col-md-6 portfolio-item "
        >
          <div class="portfolio-wrap">
            <img
              src="{{imageportfolioNoDetils.image.url}}"
              class="img-fluid img-portfolio"
              alt="{{imageportfolioNoDetils.titel}}"
            />
            <div class="portfolio-info">
              <h4>{{imageportfolioNoDetils.titel}}</h4>
              {% comment %} <p>{{imageportfolioNoDetils..category.name}}</p> {% endcomment %}
              <div class="portfolio-links">
                <a
                  href="{{imageportfolioNoDetils.image.url}}"
                  data-gallery="portfolioGallery"
                  class="portfokio-lightbox"
                  title="{{imageportfolioNoDetils.titel}}"
                  ><i class="bi bi-plus"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- End Portfolio Section -->
 
  {% endif %}

    {% comment %} {% include 'section/map.html' %}
    {% block map %}
    {% endblock map %} {% endcomment %}

  
    {% if  setting and not setting.is_hidden_contact   %}

    <!-- End Services Section -->
    <section id="contact" class="contact">
      <div class="container" >
        <header class="section-header">
          <h2>اتصل بنا</h2>
        </header>
    
      
        <div class=" justify-content-center align-items-center row gy-4">

         




          {% load i18n static %} {% load crispy_forms_tags %}

          <div class="col-lg-6">
            {% if messages %}
            {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class=" text-center  btn-success  ">
                {{ message  }}</div>
              {% else %}
              <div class=" text-center  btn-danger">
                {{ message  }}</div>
              {% endif %}

            {% endfor %}
            {% endif %}

            {% load i18n static %} {% load crispy_forms_tags %}

            <form
              method="POST"
            
              name="ContactForm"
              class="php-email-form needs-validation"
              validate
            >
              {% csrf_token %} 
              <div class="row gy-4">
                 <div class="col-md-12 ">

                    {% for hidden in form.hidden_fields %}
                        {{field|as_crispy_field}}
                    {% endfor %}
                </div>
                {% for field in form.visible_fields %}
 
                {% comment %} <div class="form-group "> {% endcomment %}
                <div class="col-md-12 ">
                    {{field.oreder_message.label_tag}}
                      <div class="input-group mb-3 {% if field.errors %}has-error{% endif %}">
                  <div class="input-group-prepend">
                      {% comment %} {{form.your_field_here.label_tag}}  {% endcomment %}

                      <span class="input-group-text" id="basic-addon1"><i class="{{field.field.icon}}"></i></span>
                    </div>
                    {{field|as_crispy_field}}
                    </div>
                  <small class="text-danger">{{field.errors | striptags}}</small>

                {% comment %} </div> {% endcomment %}
                </div>

             
                {% endfor %}

                  <div class="col-md-12 text-center">


                    {% if messages %} {% for message in messages %} 
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="sent-message">{{ message }}</div>
                    {% else %}
                    <div class="error-message d-block">{{ message }}</div>
                    {% endif %} {% endfor %} {% endif %}


                  </div>

                  {% comment %} <a href="{% url 'download-resume' %}"> {% endcomment %}
                  <div class="col-md-12 text-center">
                    <button type="submit">ارسال</button>
                  </div>
                  {% comment %} </a> {% endcomment %}
                </div>
              </div>
            </form>


      {% if  setting and not setting.is_hidden_contact  and setting.phone_1  %}

           <div class="col-lg-6 col-12  list-links contact footer-links">
            {% comment %} <h4>تواصل معنا</h4> {% endcomment %}
            <ul>
              {% if  setting and setting.phone_1   %}

              <li>
            
              <a
              style="margin-right: 10px"
              target="_blank"
              href="tel:{{setting.phone_1}}"
              class="phone"
            >
              
              هاتف 1 : <span dir="ltr">{{setting.phone_1}}</span></a>

            </li>
          {% endif %}

          {% if  setting and setting.phone_2   %}

              <li>
            
            <a
            style="margin-right: 10px"
            target="_blank"
            href="tel:{{setting.phone_2}}"
            class="phone"
          >
            
            هاتف 2 : <span dir="ltr">{{setting.phone_2}}</span></a>

          </li>
          {% endif %}
          

          {% if  setting and setting.fax   %}

          <li>
        
        <a
        style="margin-right: 10px"
        target="_blank"
        href="tel:{{setting.fax}}"
        class="phone"
      >
        
        فاكس  : <span dir="ltr">{{setting.fax}}</span></a>

      </li>
      {% endif %}

      {% if  setting and setting.emile   %}

          <li>
        
        <a
        style="margin-right: 10px"
        target="_blank"
        href="mailto:{{setting.emile}}"
        class="emile"
      >
        
      البريد الإلكتروني  : <span dir="ltr">{{setting.emile}}</span></a>

      </li>
      {% endif %}


      {% if  setting and setting.mail_box   %}

          <li>
        
        <a
        style="margin-right: 10px"
        target="_blank"
        href="tel:{{setting.mail_box}}"
        class="phone"
      >
        
      صندوق البريد  : <span dir="ltr">{{setting.mail_box}}</span></a>

      </li>
      {% endif %}
      {% if  setting and setting.free_phone_numbar   %}

          <li>
        
        <a
        style="margin-right: 10px"
        target="_blank"
        href="tel:{{setting.free_phone_numbar}}"
        class="phone"
      >
        
      الرقم المجاني   : <span dir="ltr">{{setting.free_phone_numbar}}</span></a>

      </li>
      {% endif %}

        </ul>
        <div class="info-box">
          {% if  setting and setting.facebook   %}
          <a
          target="_blank"
          href="{{setting.facebook}}"
        >
          <i class="bi bi-facebook"> </i
        ></a>
        {% endif %}

        {% comment %} <a target="_blank" href="https://wa.me/message/JZHSGHAKX4XDJ1">
          <i class="bi bi-whatsapp"> </i
        ></a> {% endcomment %}

        {% comment %} <a
          target="_blank" 
          href="https://www.instagram.com/GRAPHIC.EDGE.info"
        >
          {% endif   %}
          
            <i class="bi bi-instagram"> </i>
          </a> {% endcomment %}
          {% comment %} <a target="_blank" href="https://twitter.com/SafarByCallMe">
            <i class="bi bi-twitter"> </i>
          </a> {% endcomment %}
          {% if  setting and setting.twitter   %}
          <a
          target="_blank"
          href="{{setting.twitter}}"
        >
        <svg width="18" height="16" viewBox="0 0 18 16" fill="None" xmlns="http://www.w3.org/2000/svg"><path d="M13.7849 0.291016H16.4037L10.6823 6.83018L17.4131 15.7285H12.143L8.01522 10.3317L3.29214 15.7285H0.671723L6.79131 8.73414L0.334473 0.291016H5.73839L9.46951 5.22389L13.7849 0.291016ZM12.8658 14.161H14.3169L4.94989 1.77618H3.39268L12.8658 14.161Z" fill="#ffffff"></path></svg>
               
          {% comment %} <i class="bi bi-x"> </i {% endcomment %}
        </a>
        {% endif %}
        {% if  setting and setting.whatsapp   %}
        <a
        target="_blank"
        href="https://api.whatsapp.com/send/?phone={{setting.whatsapp}}"
      >
        <i class="bi bi-whatsapp"> </i
      ></a>
      {% endif %}
      {% if  setting and setting.instagram   %}
        <a
        target="_blank"
        href="{{setting.instagram}}"
      >
        <i class="bi bi-instagram"> </i
      ></a>
      {% endif %}
      {% if  setting and setting.youtube   %}
        <a
        target="_blank"
        href="{{setting.youtube}}"
      >
        <i class="bi bi-youtube"> </i
      ></a>
      {% endif %}
          {% comment %} <a target="_blank" href="https://t.me/SafarByCallMe">
            <i class="bi bi-telegram"> </i>
          </a> {% endcomment %}
          {% if  setting and setting.telegram   %}
          <a
          target="_blank"
          href="{{setting.telegram}}"
        >
          <i class="bi bi-telegram"> </i
        ></a>
        {% endif %}
          </div>
      </div>
    

  {% endif %}

        </div>
      </div>
    </section>

{% endif %}

   
  

</main>
{% comment %} </div> {% endcomment %}
{% comment %} </div> {% endcomment %}

<!-- End #main -->
{% endblock %}
