{% extends 'base/base.html' %}                
{% comment %} {% load pygmentify_tags %} {% endcomment %}
{% load i18n static %} 
{% block content %}

<!-- ======= Header ======= -->

<!-- ======= Hero Section ======= -->

<!-- End Hero -->
<main id="main">

  <section class="breadcrumbs">
    <div class="container">
      <ol>
        <li><a href="/">الرئيسية</a></li>
        <li>الخدمات</li>
        <li>{{services.titel}}</li>

      </ol>
      <h2>{{services.titel}}</h2>
    </div>
  </section>
    {% if services %}

    <div class="container">
      <section id="services-details" class="services-details blog">
        <div class="container" >
          <header class="section-header">
            <h2>{{services.titel}}</h2>
            <p>{{services.short_detial}}</p>
            {% comment %} <p>تواصل معنا عبر الاتصال او الايميل او عبر احد مواقع تواصلنا الإجتماعي واحصل على عرض سعر للتصميم الذي تريده</p> {% endcomment %}
          </header>
      
          {% comment %} {% for service in services %} {% load to_and %} {% endcomment %}
          <div id="services-detail" class="column gy-4">
          <div class="col-lg-12">

            
              <div class="services-details-slider swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl  swiper-backface-hidden slider-services-details-js"
              aria-live="off" style="transition-duration: 0ms;"
              >
                <div class="swiper-wrapper align-items-center">
                  {% if imagesservice %}

                    {% for imagesservic in imagesservice %}

                      <div class="swiper-slide">
                        {% if imagesservic.image %}
                        <div class="service-img">
                            <img 
                              src="{{imagesservic.image.url}}"
                              alt="{{services.titel}}"
                            />
                      </div>

                        {% else %}
                        <div class="service-img">
                          <img src="{% static 'assets/img/logo-only.png'  %}"   alt="logo  Alinma Bank">
                         </div>
                          {% endif %}


                      </div>
                  {% endfor %}
                  {% endif %}

                  <div class="swiper-slide">
                    {% if services.image %}
                   <div class="service-img">
                    <img
                      src="{{services.image.url}}"
                      alt="{{services.titel}}"
                    />
                     </div>
                    {% else %}
                    <div class="service-img">
                      <img src="{% static 'assets/img/logo-only.png'  %}"   alt="logo  Alinma Bank">
                     </div>
                      {% endif %}

              

                  </div>
                  {% comment %} {% for dataportfolioimg in DataPortfolioImages %} {% endcomment %}

                  {% if services.image %}
                  <div class="swiper-slide">
                      <div class="service-img">

                    <img
                      src="{{services.image.url}}"
                      alt="{{services.titel}}"
                    />
                  </div>
                  {% endif %}
                  </div>

                  {% comment %} {% endfor %} {% endcomment %}
                </div>
                {% comment %} <div class="swiper-pagination"></div> {% endcomment %}
            <div class="services-details-pagination custom-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
              <span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
            <div class="services-details-slider-buttons slider-buttons"><div class="slider-button services-details-prev">
              {% comment %} <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.16055 14.9172L1.56055 8.29844L8.16055 1.67969" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg> {% endcomment %}
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	                  viewBox="0 0 116.45 133.01" style="enable-background:new 0 0 116.45 133.01;" xml:space="preserve">
                    <style type="text/css">
                      .st0{fill:#1D70B8;}
                    </style>
                    <polygon class="st0" points="72.21,79.29 56.78,63.87 72.21,48.45 72.21,19.73 28.06,63.87 72.21,108.01 "/>
                </svg>
            </div><div class="slider-button services-details-next">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 116.45 133.01" style="enable-background:new 0 0 116.45 133.01;" xml:space="preserve">
              <style type="text/css">
                .st0{fill:#1D70B8;}
              </style>
              <polygon class="st0" points="46.76,48.45 62.19,63.87 46.76,79.29 46.76,108.01 90.91,63.87 46.76,19.73 "/>
            </svg>            </div></div>
              <div class="services-description">

                {% comment %} <div class="highlight"> {% endcomment %}
                {% comment %} {% pygmentify %} {% endcomment %}
                {{services.detial_ar|safe }}
                {% comment %} {% endpygmentify %} {% endcomment %}
                {% comment %} </div> {% endcomment %}

              </div>
              </div>
            </div>

            
            {% load i18n static %} {% load crispy_forms_tags %}

            <div class="col-lg-12">
              {% if messages %}
              {% for message in messages %}
              {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
              <div class=" text-center  btn-success  ">
                  {{ message  }}</div>
                {% else %}
                <div class=" text-center  btn-danger">
                  {{ message  }}</div>
                {% endif %}

              {% endfor %}
              {% endif %}

              {% load i18n static %} {% load crispy_forms_tags %}
              <header class="section-header">
                <p>للإستفسار او طلب الخدمة يرجى تعبئة الحقول معا رسالة توضح طلبك</p>
                {% comment %} <p>{{services.short_detial}}</p> {% endcomment %}
                {% comment %} <p>تواصل معنا عبر الاتصال او الايميل او عبر احد مواقع تواصلنا الإجتماعي واحصل على عرض سعر للتصميم الذي تريده</p> {% endcomment %}
            </header>
              <form
                method="POST"
              
                name="ContactForm"
                class="php-email-form needs-validation"
                validate
              >
                {% csrf_token %} {% csrf_token %}
                <div class="row gy-4">
                  {% for field in form %}
                  <div class="col-md-12">{{field|as_crispy_field}}</div>
                  {% endfor %}

                    <div class="col-md-12 text-center">


                      {% if messages %} {% for message in messages %} 
                      {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                      <div class="sent-message">{{ message }}</div>
                      {% else %}
                      <div class="error-message d-block">{{ message }}</div>
                      {% endif %} {% endfor %} {% endif %}


                    </div>

                    {% comment %} <a href="{% url 'download-resume' %}"> {% endcomment %}
                      <button type="submit">ارسال</button>
                    </a>
                  </div>
                </div>
              </form>
            </div>
          </div>
          {% comment %} {% endfor %} {% endcomment %}
        </div>
      </section>

       {% endif %}




   
  {% include 'section/service-item-list-section.html' %}
     {% comment %} {% block section-title-services %} {% endcomment %}
            {% comment %} خدماتنا دوماً معك {% endcomment %}
  {% comment %} {% endblock section-title-services %} {% endcomment %}
  {% block service-item-list-section %}

  {% endblock service-item-list-section %}
</div>
  <!-- End Contact Section -->
</main>
<!-- End #main -->
{% endblock %}

