{% extends 'base/base.html' %}                
{% comment %} {% load pygmentify_tags %} {% endcomment %}
{% load i18n static %} 
{% block content %}
  {% include 'base/header-back.html' %}
  <main id="main" style="background: none;">
    <section class="breadcrumbs" style="border: 0px rgb(0, 255, 8) solid;padding: 0px; background: white;margin: 0px;">
      <div class="container" style="margin-top: 30px;margin-right: 20px;color: var(--primary);">
        <ol dir="{{static_content.direction}}">
          <li><a  style="color: var(--primary);" href="/{{static_content.lang}}">{{static_content.main}}</a></li>
          <li>{{static_content.services}}</li>
          <li>
            {% if static_content.lang == "ar" %}
            {{services.titel}}
        {% else %}
            {{services.titel_en}}
        {% endif %}</li>

        </ol>
      </div>
    </section>
    {% if services %}
      <div class="container">
        <section id="services-details" class="services-details blog"  style="text-align: start;padding-top: 0px;border-radius: 5px;" dir="{{static_content.direction}}">
          <div class="containerr" style="margin: 0px;" >
            <header class="section-header">
              <div style="position: absolute;margin: 3px;margin-top: 50px;">
                <span>
                  <img src="/static/assets/img/hor-rect.png" height="25" style="margin-bottom: 3px;" />
                  <span style="color: white;font-size: 24pt;font-weight: bold;">
                    {% if static_content.lang == "ar" %}
                    {{services.titel}}
                    {% else %}
                    {{services.titel_en}}
                    {% endif %}
                  </span>
                </span>
              </div>
              <img src="/static/assets/img/service-cover.png" />
              <h2>
                {% if static_content.lang == "ar" %}
                {{services.titel}}
                {% else %}
                {{services.titel_en}}
                {% endif %}
              </h2>
              <p>
                
                {% if static_content.lang == "ar" %}
                                {{services.short_detial}}
                            {% else %}
                                {{services.short_detial_en}}
                            {% endif %}
                          </p>
            </header>
            <div id="services-detail" class="column gy-4">
              <div class="col-lg-12">
                <div class="services-details-slider swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl  swiper-backface-hidden slider-services-details-js" aria-live="off" style="transition-duration: 0ms;">
                  <div class="swiper-wrapper align-items-center">
                    {% if imagesservice %}
                      {% for imagesservic in imagesservice %}
                        <div class="swiper-slide">
                          {% if imagesservic.image %}
                            <div class="service-img">
                              <img src="{{imagesservic.image.url}}" alt="{{services.titel}}" />
                            </div>
                          {% else %}
                            <div class="service-img">
                              <img src="{% static 'assets/img/logo-only.png'  %}" alt="logo  Alinma Bank">
                            </div>
                          {% endif %}
                        </div>
                      {% endfor %}
                    {% endif %}
                    <div class="swiper-slide">
                      {% if services.image %}
                        <div class="service-img">
                          <img src="{{services.image.url}}" alt="{{services.titel}}" />
                        </div>
                      {% else %}
                        <div class="service-img">
                          <img src="{% static 'assets/img/logo-only.png'  %}"   alt="logo  Alinma Bank">
                        </div>
                      {% endif %}
                    </div>
                    {% if services.image %}
                      <div class="swiper-slide">
                          <div class="service-img">
                            <img src="{{services.image.url}}" alt="{{services.titel}}" />
                          </div>
                      </div>
                    {% endif %}
                  </div>
                  <div
                    class="services-details-pagination custom-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
                    <span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span
                      class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span
                      class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span
                      class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span
                      class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span
                      class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span
                      class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span
                      class="swiper-pagination-bullet"></span>
                  </div>
                  <div class="services-details-slider-buttons slider-buttons">
                    <div class="slider-button services-details-prev">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px" y="0px" viewBox="0 0 116.45 133.01" style="enable-background:new 0 0 116.45 133.01;" xml:space="preserve">
                        <style type="text/css">
                          .st0 {
                            fill: #1D70B8;
                          }
                        </style>
                        <polygon class="st0" points="72.21,79.29 56.78,63.87 72.21,48.45 72.21,19.73 28.06,63.87 72.21,108.01 " />
                      </svg>
                    </div>
                    <div class="slider-button services-details-next">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 116.45 133.01" style="enable-background:new 0 0 116.45 133.01;" xml:space="preserve">
                        <style type="text/css">
                          .st0{fill:#1D70B8;}
                        </style>
                        <polygon class="st0" points="46.76,48.45 62.19,63.87 46.76,79.29 46.76,108.01 90.91,63.87 46.76,19.73 "/>
                      </svg>            
                    </div>
                  </div>
                  <div class="services-description">
                    
                {% if static_content.lang == "ar" %}
                    {{services.detial_ar|safe}}
                {% else %}
                    {{services.detial_en|safe}}
                {% endif %}
                  </div>
                </div>
              </div>
              {% load i18n static %} {% load crispy_forms_tags %}
              <div class="col-lg-12">
                {% if messages %}
                  {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                      <div class=" text-center  btn-success  ">
                        {{ message  }}
                      </div>
                    {% else %}
                        <div class=" text-center  btn-danger">
                        {{ message  }}</div>
                    {% endif %}
                  {% endfor %}
                {% endif %}
                {% load i18n static %} {% load crispy_forms_tags %}
                <header class="section-header">
                  <p>{{static_content.ask_or_request_for_service}}</p>
                </header>
                <form method="POST" name="ContactForm" class="php-email-form needs-validation"  validate  style="text-align: start;" dir="{{static_content.direction}}" >
                  {% csrf_token %} 
                  <div class="row gy-4 align-item-center align-self-center align-content-center">
                    
                    {% for field in form %}
                    <div class="col-md-12" >
                      <div class="input-group mb-2">
                        {{field|as_crispy_field}}
                      </div>  
                    
                    </div>
                    {% endfor %}


                      <div class="col-md-12 text-center">
                        {% if messages %} {% for message in messages %} 
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <div class="sent-message">{{ message }}</div>
                        {% else %}
                        <div class="error-message d-block">{{ message }}</div>
                        {% endif %} {% endfor %} {% endif %}
                      </div>
                      
                      <div class=" col-md-12">
                        <button type="submit">{{static_content.send}}</button>
                      </div>
                        
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
    {% endif %}
    {% include 'section/service-item-list-section.html' %}
    {% block service-item-list-section %}
    {% endblock service-item-list-section %}
  </main>
{% endblock %}