{% extends 'base/base.html' %} {% load i18n static %} 
{% block content %}
{% include 'base/header-back.html' %}
<main>
    <div style="text-align: center;"  >
        <section class="breadcrumbs" style="border: 0px rgb(0, 255, 8) solid;padding: 0px; background: white;margin: 0px;">
            <div class="container" style="margin-top: 30px;margin-right: 20px;color: var(--primary);">
                <ol>
                    <li><a style="color: var(--primary);" href="/">الرئيسية</a></li>
                    <li>
                        مكتبة الفيديوهات
                    </li>
                </ol>
            </div>
        </section>
        <section id="services-home" class="services-section-home" style="order: 1; border: red 0px solid; padding: 0px;" >
            <div class="services-section-container" >
                <div class="container" style="border: red 0px solid solid;">  
                    <div class="slider-videos">
                        <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(7580px, 0px, 0px);">
                            {% for video in videos %}   
                                <div class="swiper-slide">
                                    <div style="margin: auto;width: fit-content;box-shadow: 0px 0px 10px gray;margin-bottom: 10px;margin-top: 10px;border-radius: 20px;padding: 10px;">
                                        {% if video.source_type == 'file' %}
                                            <video style="display: block;" width="420" height="320" controls>
                                                <source src="{{video.filename.url}}" type="{{video.mime_type}}">
                                                Your browser does not support the video tag.
                                            </video>
                                        {% else %}
                                            <iframe style="border-top-right-radius: 10px;border-top-left-radius: 10px; display: block;" width="420" height="320" src="{{video.url}}">
                                            </iframe>
                                        {% endif %}
                            
                                        <p style="line-height: 40px;font-size: 18pt;color: var(--primary);text-wrap: pretty;margin: auto;margin-bottom: 20px;">{{video.title}} </p>
                                        <p style="display: none;">{{video.source_type}} </p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="hero-slider-buttons slider-buttons" >
                            <div class="slider-button video-prev">
                                <img src="../static/assets/img/arrow-blue-left.png" width="20px" height="35px"/>
                            </div>
                            <div class="slider-button video-next">
                                <img src="../static/assets/img/arrow-blue-right.png" width="20px" height="35px"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% comment %}   
            {% for video in videos %}   
            <div style="margin: auto;width: fit-content;box-shadow: 0px 0px 10px gray;margin-bottom: 10px;border-radius: 20px;padding: 10px;">
                <video style="display: none;" width="320" height="240" controls>
                    <source src="{{video.filename.url}}">
                    Your browser does not support the video tag.
                </video>
                <iframe style="border-top-right-radius: 10px;border-top-left-radius: 10px;" width="420" height="315" src="{{video.url}}">
                </iframe>

                <p style="line-height: 40px;font-size: 18pt;color: var(--primary);text-wrap: pretty;margin: auto;margin-bottom: 20px;">{{video.title}} </p>
                <p style="display: none;">{{video.source_type}} </p>
            </div>
            {% endfor %}
        {% endcomment %}   
    </div>
</main>
{% endblock %}